<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	bean-discovery-mode="all">
	<scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <!-- End of Errai exclusions -->

		<!-- These exclusions were added by Errai to avoid deploying client-side 
			classes to the server -->
		<!-- End of Errai exclusions -->

		<!-- These exclusions were added by Errai to avoid deploying client-side 
			classes to the server -->
		<!-- End of Errai exclusions -->

		<exclude name="org.hibernate.validator.**" />
		<exclude name="org.dashbuilder.validations.**" />
		<exclude name="org.dashbuilder.client.**" />
		<exclude name="org.dashbuilder.common.client.**" />
		<exclude name="org.dashbuilder.dataset.client.**" />
		<exclude name="org.dashbuilder.dataset.validation.**" />
		<exclude name="org.dashbuilder.dataset.editor.client.**" />
		<exclude name="org.dashbuilder.displayer.client.**" />
		<exclude name="org.dashbuilder.renderer.client.**" />
		<exclude name="org.dashbuilder.renderer.google.**" />
		<exclude name="org.dashbuilder.renderer.chartjs.**" />
		<exclude name="org.dashbuilder.renderer.lienzo.**" />

		<!-- Uberfire -->
		<exclude name="org.uberfire.client.**" />
		<exclude name="org.uberfire.security.client.**" />

		<!-- UF Extensions -->
		<exclude name="org.uberfire.ext.apps.client.**" />
		<exclude name="org.uberfire.ext.plugin.client.**" />
		<exclude name="org.uberfire.ext.layout.editor.client.**" />
		<exclude name="org.uberfire.ext.security.management.client.**" />
		<exclude name="org.uberfire.ext.editor.commons.client.**" />
		<exclude name="org.uberfire.ext.properties.editor.client.**" />
		<exclude name="org.uberfire.ext.widgets.common.client.**" />
		<exclude name="org.uberfire.ext.widgets.sandbox.client.**" />
		<exclude name="org.uberfire.ext.widgets.core.client.**" />
		<exclude name="org.uberfire.ext.widgets.table.client.**" />
		<exclude name="org.uberfire.ext.wires.client.**" />
		<exclude name="org.uberfire.ext.wires.bpmn.client.**" />
		<exclude name="org.uberfire.ext.wires.core.api.**" />
		<exclude name="org.uberfire.ext.wires.core.client.**" />
		<exclude name="org.uberfire.ext.wires.core.trees.client.**" />
		<exclude
			name="org.uberfire.ext.wires.core.scratchpad.client.**" />
		<exclude
			name="org.uberfire.ext.wires.bayesian.network.client.**" />
	</scan>
</beans>
