.kie-alert-notification {
  padding: 1rem 2rem 2rem;
  width: auto;

  [data-notify="title"] {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.75);
    padding-left: 0.5rem;
  }

  [data-notify="message"] {
    display: block;
    padding: 0;
    margin-top: 0.5rem;
  }
}
