.kie-alert-notification {
  padding: 1rem 2rem 2rem;
  width: auto;

  [data-notify="title"] {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.75);
    padding-left: 0.5rem;
  }

  [data-notify="message"] {
    display: block;
    padding: 0;
    margin-top: 0.5rem;
  }
}

// Success
.alert-success-dark {
  background-color: #37892f;
  border-color: #37892f;
  color: #ffffff;
}

.alert-success-dark hr {
  border-top-color: #37892f;
}

.alert-success-dark .alert-link {
  color: #ffffff;
}

// Info
.alert-info-dark {
  background-color: #7e8082;
  border-color: #7e8082;
  color: #ffffff;
}

.alert-info-dark hr {
  border-top-color: #7e8082;
}

.alert-info-dark .alert-link {
  color: #ffffff;
}

// Warning
.alert-warning-dark {
  background-color: #d36d07;
  border-color: #d36d07;
  color: #ffffff;
}

.alert-warning-dark hr {
  border-top-color: #d36d07;
}

.alert-warning-dark .alert-link {
  color: #ffffff;
}

// Danger
.alert-danger-dark {
  background-color: #b30000;
  border-color: #b30000;
  color: #ffffff;
}
.alert-danger-dark hr {
  border-top-color: #b30000;
}

.alert-danger-dark .alert-link {
  color: #ffffff;
}
