/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */

.table-context-menu {
  min-width: 250px;
  padding: 16px 0;
}

.table-context-menu .no-allowed-actions-in-group {
  display: none;
}

.table-context-menu .pf-c-menu__group-title {
  text-align: left;
  font-size: small;
  padding-left: var(--pf-c-menu__group-title--PaddingLeft);
  margin-bottom: 4px;
  font-weight: var(--pf-c-menu__group-title--FontWeight);
  color: var(--pf-c-menu__group-title--Color);
}

.table-context-menu .pf-c-menu__item {
  color: var(--pf-c-menu__item--Color);
}

.table-context-menu .pf-c-number-input .pf-c-form-control {
  text-align: center;
}
