/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */

.pf-v5-c-page__header {
  /* this adjusts the max specifically for our logo */
  --pf-v5-c-page__header-brand-link--c-brand--MaxHeight: 39px;
}

.kie-sandbox--logo {
  display: flex;
}

.pf-v5-c-dropdown__group-title {
  white-space: nowrap;
}

.kogito--editor-hub-download_link {
  text-decoration: none;
  color: var(--pf-v5-global--Color--light-100);
}

.kogito--editor-landing__gallery {
  --pf-v5-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(23em, 1fr));
}

.kogito--editor-landing__title-section .pf-v5-c-title {
  color: var(--pf-v5-global--Color--light-200);
}

.kogito--editor__toolbar-name-container {
  display: inline-block;
  position: relative;
}

.kogito--editor__toolbar-name-container.invalid {
  border: var(--pf-v5-global--BorderWidth--md) solid var(--pf-v5-global--danger-color--100);
  border-radius: var(--pf-v5-global--BorderRadius--sm);
}

.kogito--editor__toolbar-name-container h3 {
  display: inline-block;
  visibility: hidden;
  white-space: pre;
  border: var(--pf-v5-global--BorderWidth--md) solid var(--pf-v5-c-page__main-section--m-light--BackgroundColor);
  padding: var(--pf-v5-global--spacer--xs);
}

.kogito--editor__toolbar-name-container.readonly h3 {
  visibility: visible;
  border: none;
  font-weight: 100;
}

.kogito--editor__toolbar-name-container span {
  border: var(--pf-v5-global--BorderWidth--md) solid var(--pf-v5-c-page__main-section--m-light--BackgroundColor);
  border-radius: var(--pf-v5-global--BorderRadius--sm);
  padding: var(--pf-v5-global--spacer--xs);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.kogito--editor__toolbar-name-container span::before,
.kogito--editor__toolbar-name-container span::after {
  border: none;
}

.kogito--editor__toolbar-name-container span:focus-within {
  outline-width: 1px;
  outline-style: auto;
}

.kogito--editor__toolbar-name-container span input {
  outline-width: 0;
  padding: 0;
}

.kogito--full-screen__toolbar {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.kogito--full-screen__toolbar-button {
  pointer-events: visible;
}

.kogito--global-alert-container {
  top: 30px;
}

.kogito--alert-container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 99999;
}

.kogito--alert-list {
  max-width: 900px;
  min-width: 200px;
  z-index: 999999;
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.kogito--alert-container .pf-v5-c-alert {
  pointer-events: visible;
}

.kogito--editor__toolbar {
  --pf-v5-c-page__header--MinHeight: 6.75rem;
}

@media (min-width: 1200px) {
  .kogito--editor__toolbar {
    --pf-v5-c-page__header--MinHeight: unset;
  }
}

.kogito--editor__toolbar .pf-v5-c-page__header-nav {
  align-self: center;
  justify-content: center;
  height: 100%;
}

.kogito--editor__toolbar-subtitle {
  color: var(--pf-v5-global--BackgroundColor--dark-200);
  background-color: var(--pf-v5-c-page__main-section--m-light--BackgroundColor);
  border: var(--pf-v5-global--BorderWidth--md) solid var(--pf-v5-global--BorderColor--200);
  font-size: var(--pf-v5-global--FontSize--md);
  text-align: center;
}

.kogito--editor__toolbar-subtitle:focus {
  background-color: var(--pf-v5-c-form-control--BackgroundColor);
  color: var(--pf-v5-global--BackgroundColor--dark-200);
}

.kogito--editor__toolbar-subtitle h3 {
  font-weight: bold;
  display: inline;
  color: var(--pf-v5-global--BackgroundColor--dark-200);
}

.kogito--editor__toolbar-subtitle:hover {
  border: var(--pf-v5-global--BorderWidth--md) solid var(--pf-v5-global--BorderColor--200);
  border-radius: var(--pf-v5-global--BorderRadius--sm);
  padding: var(--pf-v5-global--spacer--xs);
}

.kogito--editor__toolbar-title {
  background-color: var(--pf-v5-c-page__main-section--m-light--BackgroundColor);
  border: var(--pf-v5-global--BorderWidth--md) solid var(--pf-v5-global--BorderColor--200);
  font-size: var(--pf-v5-global--FontSize--2xl);
  text-align: center;
}

.kogito--editor__toolbar-title:focus {
  background-color: var(--pf-v5-c-form-control--BackgroundColor);
  color: var(--pf-v5-global--Color--100);
}

.kogito--editor__toolbar-title h3 {
  display: inline;
}

.kogito--editor__toolbar-title:hover {
  border: var(--pf-v5-global--BorderWidth--md) solid var(--pf-v5-global--BorderColor--200);
  border-radius: var(--pf-v5-global--BorderRadius--sm);
  padding: var(--pf-v5-global--spacer--xs);
}

.kogito--editor__toolbar-icon-button {
  --pf-v5-c-button--FontSize: var(--pf-v5-global--icon--FontSize--md);
}

.kogito--editor__toolbar.button {
  background-color: var(--pf-v5-global--palette--blue-400);
  color: var(--pf-v5-global--palette--white);
  padding-top: var(--pf-v5-global--spacer--form-element);
  padding-right: var(--pf-v5-global--spacer--md);
  padding-bottom: var(--pf-v5-global--spacer--form-element);
  padding-left: var(--pf-v5-global--spacer--md);
  line-height: var(--pf-v5-global--LineHeight--md);
  font-weight: var(--pf-v5-global--FontWeight--normal);
  font-size: var(--pf-v5-global--FontSize--md);
  border-radius: var(--pf-v5-global--BorderRadius--sm);
}

.kogito--editor__toolbar.button:hover,
.kogito--editor__toolbar-button:focus,
.kogito--editor__toolbar-button:active {
  background-color: var(--pf-v5-global--palette--blue-500);
}

.kogito--editor__toolbar.button:after {
  border-radius: var(--pf-v5-global--BorderRadius--sm);
  border-color: transparent;
  border-width: var(--pf-v5-global--BorderWidth--sm);
}

.kogito--editor__toolbar.button:after:hover,
.kogito--editor__toolbar.button:after:focus,
.kogito--editor__toolbar.button:after:active {
  border-width: var(--pf-v5-global--BorderWidth--sm);
}

.kogito--code {
  font-family: var(--pf-v5-global--FontFamily--monospace);
  font-weight: var(--pf-v5-global--FontWeight--normal);
  line-height: var(--pf-v5-global--LineHeight--md);
  font-size: var(--pf-v5-global--FontSize--md);
  display: inline;
}

.kogito--editor__drawer-content-close {
  flex-basis: 100vw;
  flex-shrink: 0 !important;
}

.kogito--editor__drawer-content-body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.kogito--editor__drawer-content-panel {
  position: relative;
  z-index: 1;
  max-height: calc(100vh - 171px);
}

.kogito--editor__dmn-runner {
  display: flex;
  height: 100%;
}

.kogito--editor__dmn-runner-content {
  min-width: 350px;
}

.kogito--editor__dmn-runner-content-page {
  flex-grow: 0;
  flex-shrink: 0;
}

@media screen and (min-width: 1200px) {
  .kogito--editor__dmn-runner-content-page {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .kogito--editor__dmn-runner-content-page {
    flex-basis: 100%;
  }
}

.kogito--editor__dmn-runner-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.kogito--editor__dmn-runner-drawer-content-body {
  overflow-y: auto;
  height: 100%;
}

.kogito--editor__dmn-runner-drawer-content-body-input {
  padding-top: 0;
}

.kogito--editor__dmn-runner-drawer-content-body-output {
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
}

.kogito--editor__extended-services-modal-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.kogito--editor__extended-services-modal-footer-alert {
  width: 100%;
}

.kogito--editor__extended-services-modal-footer-alert-success {
  display: flex;
  justify-content: space-between;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.66;
  }
  100% {
    opacity: 1;
  }
}

.blink-opacity {
  animation: flickerAnimation 2s infinite cubic-bezier(0.7, 0, 0.3, 1);
}

@keyframes staticAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.static-opacity {
  animation: staticAnimation 10s infinite;
}

.kogito--editor__extended-services-modal-initial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}

.kogito--editor__extended-services-modal-initial-center {
  margin: 0 auto;
}

.kogito--editor__extended-services-modal-initial img {
  border: 1px solid #eee;
}

.kogito--editor__extended-services-modal-initial-content {
  display: flex;
  flex-direction: row;
}

.kogito--editor__extended-services-modal-initial-title {
  margin: 20px 20px 0px;
}

.kogito--editor__extended-services-modal-initial-margin {
  margin: 10px;
}

.kogito--editor__notifications-panel-button {
  display: flex;
  flex-direction: column;
  user-select: none;
  z-index: 999;
  right: 0;
  bottom: 5px;
  position: absolute;
  padding: 7px;
  align-items: center;
  justify-content: center;
  width: 35px;
  font-size: var(--pf-v5-global--FontSize--md);
  cursor: pointer;
  color: var(--pf-v5-global--Color--dark-100) !important;
}

.kogito--editor__notifications-panel-button.open {
  bottom: 360px;
}

.kogito--editor__notifications-panel-error-count-updated {
  animation-name: highlight;
  animation-duration: 1s;
}

.kogito--editor__notifications-panel-with-notifications-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kogito--editor__notifications-panel-with-notifications-tooltip-exclamation-icon {
  margin-top: 1px;
}

.kogito--editor__notifications-panel-open {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #ddd;
}

.kogito--editor__notifications-panel-close {
  display: none;
}

.kogito--editor__notifications-panel-resizable-div {
  height: 10px;
  border-bottom: solid 1px #ddd;
  cursor: row-resize;
}

.kogito--editor__notifications-panel-div {
  height: 350px;
  width: 100%;
  position: relative;
  overflow: auto;
}

.kogito--editor__notifications-panel-icon-position {
  right: 0;
  top: 4px;
  position: absolute;
  padding: 8px;
  z-index: 999;
  user-select: none;
}

@keyframes highlight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.kogito--editor__extended-services-dropdown-icon-outdated {
  color: var(--pf-v5-global--warning-color--100);
}

.kogito--editor__extended-services-dropdown-icon-outdated:focus {
  outline: none;
}

.kogito--editor__extended-services-dropdown-icon-connected {
  color: var(--pf-v5-global--palette--green-300);
}

.kogito--editor__light-tooltip {
  --pf-v5-c-tooltip__content--Color: var(--pf-v5-global--BackgroundColor--dark-100);
  --pf-v5-c-tooltip__content--BackgroundColor: var(--pf-v5-global--BackgroundColor--light-100);
}

.kogito--editor__dmn-dev-deployment-wizard-loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kogito--editor__dev-deployments-dropdown-item-delete:not(disabled):hover {
  color: var(--pf-v5-global--palette--black-800) !important;
}

.kogito--editor__dmn-dev-deployment-dropdown-item-status {
  pointer-events: auto;
}

.kogito--editor__dmn-dev-deployment-dropdown-item-status:focus {
  outline: none;
}

.success-icon {
  color: var(--pf-v5-global--success-color--100);
}

.success-icon:hover {
  color: var(--pf-v5-global--success-color--200);
}

.in-progress-icon {
  color: var(--pf-v5-global--palette--black-800);
}

.in-progress-icon:hover {
  color: var(--pf-v5-global--info-color--200);
}

.warning-icon {
  color: var(--pf-v5-global--warning-color--100);
}

.warning-icon:hover {
  color: var(--pf-v5-global--palette--gold-500);
}

.error-icon {
  color: var(--pf-v5-global--danger-color--100);
}

.error-icon:hover {
  color: var(--pf-v5-global--danger-color--200);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.kogito--editor__workspace-files-dropdown-open {
  pointer-events: auto;
  color: var(--pf-v5-global--primary-color--100);
}

.kogito--editor__workspace-files-dropdown-open:focus {
  outline: none;
}

.kogito--editor__workspace-files-dropdown-open:hover {
  color: var(--pf-v5-global--primary-color--200);
}

section.kie-tools--settings-tab {
  height: calc(100% - 40px);
}

.kie-tools--masthead-hoverable:hover,
.kie-tools--masthead-hoverable > .pf-v5-c-select__toggle:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
}

.kie-tools--masthead-hoverable-dark:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}

#editor-page-masthead-files-dropdown-toggle {
  padding-left: 0;
}

.pf-v5-c-expandable-section.plain .pf-v5-c-expandable-section__toggle {
  color: black;
}

.kie-tools--problems-tab-content {
  overflow: auto;
}

@media screen and (min-width: 576px) {
  .kogito--editor__openshift-deployments-dropdown .pf-v5-c-dropdown__menu {
    min-width: 400px;
  }
}

.kogito--editor__responsive-dropdown-container .pf-v5-c-dropdown__menu {
  position: relative;
  min-width: 100%;
  box-shadow: none;
}

.kie-tools__dmn-runner-loading-screen {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}

.kie-tools__dmn-runner-loading-screen-drawer {
  left: 10;
}

.kie-tools--dmn-runner-table--drawer .pf-v5-c-drawer__panel .pf-v5-c-drawer__splitter.pf-m-vertical {
  z-index: 999;
}

.kie-tools--dmn-runner-table--drawer .pf-v5-c-drawer__panel .pf-v5-c-drawer__panel-main {
  overflow: scroll;
}
.kie-tools--dmn-runner-table--drawer .pf-v5-c-drawer__content {
  overflow: scroll !important;
}

.kie-tools--dmn-runner-table--drawer .pf-v5-c-drawer__content::-webkit-scrollbar {
  display: none;
}
.kie-tools--dmn-runner-table--drawer .pf-v5-c-drawer__panel-main::-webkit-scrollbar {
  display: none;
}

.kie-tools--file-switcher-no-padding-menu-item {
  padding: 0;
}

.kie-sandbox--file-switcher .pf-v5-c-dropdown__menu {
  min-width: 0;
}

.pf-v5-c-menu__item-description {
  word-break: normal !important;
}

/* FilesMenu */

.kie-sandbox--files-menu .kie-sandbox--files-menu--label {
  --kie-sandbox--files-menu--title-padding: var(--pf-v5-global--spacer--md);
  padding-left: var(--kie-sandbox--files-menu--title-padding);
  padding-right: var(--kie-sandbox--files-menu--title-padding);
}

.kie-sandbox--files-menu .pf-v5-c-menu__group-title {
  display: none;
}

/* FileSwitcher menu items display mode */
.kie-tools--file-list-item-enabled a,
.kie-tools--file-list-item-deleted a,
.kie-tools--file-list-item-readonly a {
  text-decoration: none;
  color: var(--pf-v5-global--Color--100);
}

.kie-tools--file-list-item-enabled {
  cursor: pointer;
}
.kie-tools--file-list-item-enabled:hover .pf-v5-c-content {
  text-decoration: underline;
}
.kie-tools--file-list-item-deleted {
  cursor: not-allowed;
}

.kie-tools--file-list-item-readonly:hover {
  cursor: default;
}

/* GitStatusIndicator, GitStatusIndicatorActions */
/* GitStatusIndicatorActions hoverable */
.kie-tools--git-status-indicator-children-hoverable {
  visibility: hidden;
}
.kie-tools--git-status-indicator:hover .kie-tools--git-status-indicator-children-hoverable {
  visibility: visible;
}
/* GitStatusIndicatorActions popover render */

/* remove padding so that inline alert fills whole popover */
.kie-tools--git-status-indicator__popover-no-padding > .pf-v5-c-popover__content,
.kie-tools--git-status-indicator__popover-no-padding > .pf-v5-c-popover__content > .pf-v5-c-popover__body {
  padding: 0;
}
.kie-sandbox--files-menu .kie-tools--git-status-indicator button {
  /* For the padding not to mess with surrounding layout */
  margin-top: -4px;
  margin-bottom: -4px;
}

/* Copy command block */
.kie-sandbox--copy-command-block {
  font-family: var(--pf-v5-global--FontFamily--monospace);
  font-size: small;
}

.kie-sandbox--copy-command-block input {
  font-family: var(--pf-v5-global--FontFamily--monospace);
  font-size: revert;
}

#new-dmn-editor-dropdown-toggle {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
