<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.drools.workbench.jcr2vfsmigration" level="INFO"/>
  <!-- Adjust/disable logging for following classes as they generate WARN/ERROR messages
       which can be safely ignore in the jcr2vfs context -->
  <logger name="org.jboss.solder.config.xml.model.ModelBuilder" level="ERROR"/>
  <logger name="org.drools.guvnor.server.repository.RulesRepositoryManager" level="ERROR"/>

  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
