//
// Close icons
// --------------------------------------------------

.close {
  text-shadow: none;
  z-index: 1;
  position: relative;
  .opacity(0.6);
  &:hover,
  &:focus {
    .opacity(0.9);
  }
}
