.kie-tools--dmn-runner-table--drawer .expression-container-box {
  margin-top: -3px;
}

.kie-tools--dmn-runner-table--drawer .pf-c-drawer__panel-main .expression-container-box {
  margin-right: 5px;
}

.kie-tools--unitables-open-on-form-container {
  margin-top: -2px !important;
}
