/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
/**/.*
!.gitignore
/nbproject
*.ipr
*.iws
*.iml

# Repository wide ignore mac DS_Store files
.DS_Store
src/main/webapp/WEB-INF/classes/
src/main/webapp/org.drools.workbench.screens.scenariosimulation.showcase.DroolsScenarioSimulationShowcase/
/repositories/
/start.log
