/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */

.outputs-container {
  height: 60vh;

  &__overview {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
      transition: opacity 230ms;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: opacity 100ms;
    }
  }
  &__fields-list {
    flex: 1 1 0;
    overflow-y: auto;
    padding: 1em;
    background-color: var(--pf-global--BackgroundColor--200);
  }

  &__extended-properties {
    overflow-y: auto;
    padding: 1em;
    background-color: var(--pf-global--BackgroundColor--200);
    height: calc(60vh - 52px);
    // overriding disabled select background color because it doesn't play nice with --pf-global--BackgroundColor--200
    .pf-c-select__toggle.pf-m-disabled {
      --pf-c-select__toggle--disabled--BackgroundColor: var(--pf-global--disabled-color--200);
    }
    .pf-c-form-control:disabled {
      --pf-c-form-control--BackgroundColor: var(--pf-global--disabled-color--200);
    }
    &__field {
      width: 320px;
    }
    &-enter {
      transform: translateX(100px);
      opacity: 0;
    }

    &-enter-active {
      transform: translateX(0);
      opacity: 1;
      transition: all 230ms;
    }

    &-exit {
      transform: translateX(0);
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transform: translateX(44px);
      transition: all 100ms;
    }
  }

  &__batch-add {
    &-enter {
      transform: translateY(-50px);
      opacity: 0;
    }

    &-enter-active {
      transform: translateY(0);
      opacity: 1;
      transition: all 230ms;
    }

    &-exit {
      transform: translateY(0);
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transform: translateY(-21px);
      transition: all 100ms;
    }
  }
}
