## ci
!/.ci

## node
**/node_modules/
**/dist/
**/dist-dev/
**/dist-tests/
**/dist-it-tests/
**/it-tests-tmp/
**/coverage/
**/target/
**/out/
**/.idea/
**/.DS_Store
*.log
.classpath
.project
**/.settings/
package-lock.json

## chrome-extension-pack-kogito-kie-editors
**/logs/
**/screenshots/

## guided-tour
# builds
**/build
**/.rpt2_cache

# misc
**/.DS_Store
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

## kie-editors-standalone
**/it-tests/**/videos
**/it-tests/**/screenshots
**/it-tests/**/results
**/it-tests/**/downloads

## online-editor
**/videos/

## vscode-*
**/.vscode-test/
**/.vscode-test-web/
*.vsix
*.dockerimage
**/test-resources/
**/vscode*-tmp

**/mvnw
**/mvnw.cmd
**/.mvn

## boxed-expression-component & feel-input-component
packages/boxed-expression-component/src
packages/feel-input-component/src

# Eclipse, Netbeans and IntelliJ files
**/nbproject
**/*.ipr
**/*.iws
**/*.iml
**/.classpath
**/.project
**/.settings

**/jitexecutor

# Language Server Extension
packages/vscode-extension-dmn-editor/server
packages/vscode-extension-bpmn-editor/server
packages/vscode-extension-pack-kogito-kie-editors/server

# imported from kogito-editors-java
*.ipr
*.iws
*.iml
.idea/*
*/.idea/*
.settings
.metadata/*
.gwt-tmp/
target/
bin/
classes/
local/
repository/
repositories/
nbproject/
data
deploy/
.errai/
.DS_Store
*.releaseBackup
*.versionsBackup
release.properties
.gwt
/war/WEB-INF/classes/
packages/stunner-editors/errai-ioc/war/WEB-INF/classes/
packages/stunner-editors/errai-tools/war/
*/**/war/AsyncDemo/
*/**/war/ClientService/
*/**/war/HelloWorld/
*/**/war/QueryService/
*/**/war/RPCDemo/
*/**/war/Serialization/
*/**/war/StockDemo/
*.JUnit/
*/**/gwt-unitCache/
*/**/class_list.txt
*.jpage
packages/stunner-editors.factorypath
packages/stunner-editors/dependency-reduced-pom.xml

# Created by Zanata
packages/stunner-editors/org.kie.workbench.screens
packages/stunner-editors/org.kie.workbench.widgets
packages/stunner-editors/org.kie.workbench.forms

# Cypress tests recordings
**/videos/**
*.mp4

# Local Netlify folder
*/**/.netlify
