node_modules/
dist/
coverage/
target/
out/
.idea
**/.DS_Store
*.log
packages/kie-bc-editors-unpacked/dmn
packages/kie-bc-editors-unpacked/bpmn
packages/kie-bc-editors-unpacked/scesim
packages/online-editor/cypress/screenshots
packages/online-editor/cypress/videos
.vscode/
