**/node_modules/
**/dist/
**/dist-dev/
**/dist-tests/
**/dist-it-tests/
**/it-tests-tmp/
**/coverage/
**/target/
**/out/
**/.idea/
**/.DS_Store
*.log
**/.vscode/
.classpath
.project
**/.settings/
package-lock.json

## chrome-extension-pack-kogito-kie-editors
**/logs/
**/screenshots/

## guided-tour
# builds
**/build
**/.rpt2_cache

# misc
**/.DS_Store
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

## kie-editors-standalone
**/it-tests/**/videos
**/it-tests/**/screenshots
**/it-tests/**/results

## online-editor
**/videos/

## vscode-*
**/.vscode-test/
*.vsix
*.dockerimage
**/test-resources/

**/mvnw
**/mvnw.cmd
**/.mvn
