dedupe-peer-dependents=false # Without this, pnpm will always install all packages when `pnpm booststrap:root` runs. See https://github.com/pnpm/pnpm/issues/6300.
extend-node-path=false # Prevent `pnpm` from allowing binaries to require transitive dependencies through `node_modules/.pnpm/node_modules` when on files that are inside workspace packages.