pnpm-lock.yaml

# Go files
**/*.go
**/go.mod
**/go.sum
**/go.work
**/go.work.sum

# XML DTD isn't supported by the @prettier/parser-xml plugin
packages/xml-parser-ts-codegen/src/schemas/xsd/HFP.xsd
packages/xml-parser-ts-codegen/src/schemas/xsd-incomplete--manually-written/HFP.xsd
packages/xml-parser-ts-codegen/src/schemas/xsd-incomplete--manually-written/XSD.xsd
