go 1.22.0

toolchain go1.22.4

use (
	.
	./api
	./bddframework
	./container-builder
	./testbdd
	./workflowproj
)

replace (
	github.com/RHsyseng/operator-utils => github.com/RHsyseng/operator-utils v1.4.13
	github.com/openshift/api => github.com/openshift/api v0.0.0-20230522130544-0eef84f63102
	github.com/openshift/client-go => github.com/openshift/client-go v0.0.0-20230503144108-75015d2347cb

	// Main dependencies sync
	github.com/serverlessworkflow/sdk-go/v2 => github.com/serverlessworkflow/sdk-go/v2 v2.2.5
	k8s.io/api => k8s.io/api v0.30.1
	k8s.io/apimachinery => k8s.io/apimachinery v0.30.1
	k8s.io/client-go => k8s.io/client-go v0.30.1
	k8s.io/klog/v2 => k8s.io/klog/v2 v2.100.1
	knative.dev/pkg => knative.dev/pkg v0.0.0-20230525143525-9bda38b21643
	sigs.k8s.io/controller-runtime => sigs.k8s.io/controller-runtime v0.18.2
	sigs.k8s.io/yaml => sigs.k8s.io/yaml v1.3.0
)
