{
  "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"$defs\":{\"CandidateData\":{\"type\":\"object\",\"properties\":{\"email\":{\"type\":\"string\"},\"experience\":{\"type\":\"integer\"},\"lastName\":{\"type\":\"string\"},\"name\":{\"type\":\"string\"},\"offers\":{\"type\":\"array\",\"items\":{\"$ref\":\"#/$defs/Offer\"}},\"skills\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}}},\"Offer\":{\"type\":\"object\",\"properties\":{\"category\":{\"type\":\"string\"},\"salary\":{\"type\":\"array\",\"items\":{\"$ref\":\"#/$defs/Salary\"}}}},\"Salary\":{\"type\":\"object\",\"properties\":{\"currency\":{\"type\":\"string\"},\"value\":{\"type\":\"string\"}}}},\"type\":\"object\",\"properties\":{\"approve\":{\"type\":\"boolean\",\"input\":true,\"output\":true},\"candidate\":{\"$ref\":\"#/$defs/CandidateData\",\"input\":true},\"offer\":{\"$ref\":\"#/$defs/Offer\",\"input\":true,\"output\":true}}}",
  "resources": {
    "styles": {},
    "scripts": {}
  }
}