.navigation-area {
    margin-left: -40px !important;
    margin-right: -40px !important;
}

.new-provider-type {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
}

.container-nav {
    padding-left: 0 !important;
    padding-right: 0 !important;;
}

.server-navigation .list-group-item.active {
    color: #ffffff;
    background-color: #0088ce;
}

.server-navigation a.list-group-item {
    background-color: transparent;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
