/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
/**/.*
!.gitignore
/nbproject
*.ipr
*.iws
*.iml

# Repository wide ignore mac DS_Store files
.DS_Store

#Ignore DMN's kogito related work on branch DROOLS-3727
#Added to simplify switching branches and avoid accidentially committing unrelated work! 
/kie-wb-common-dmn-webapp-kogito-marshaller
/kie-wb-common-dmn-webapp-kogito-testing
/kie-wb-common-dmn-webapp-standalone

