/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */
:root {
  --small-font-size: 13px;
  --selected-cell: rgba(190, 200, 205, 0.3);
}

.boxed-expression-provider {
  background-color: var(--pf-global--BackgroundColor--100);
  font-family: var(--pf-global--FontFamily--sans-serif);
  font-size: var(--pf-global--FontSize--md);
  font-weight: var(--pf-global--FontWeight--normal);
  line-height: var(--pf-global--LineHeight--md);
  text-align: left;
  user-select: none;
  touch-action: none;
  height: 100%;
}

.boxed-expression-provider *,
.boxed-expression-provider *:after,
.boxed-expression-provider *:before {
  box-sizing: border-box;
}

.boxed-expression-provider a,
.boxed-expression-provider button {
  cursor: pointer;
}

.boxed-expression-provider table {
  border-spacing: 0;
}

.boxed-expression-provider button,
.boxed-expression-provider input,
.boxed-expression-provider optgroup,
.boxed-expression-provider select,
.boxed-expression-provider textarea,
.boxed-expression-provider label {
  font-family: inherit;
  font-size: 100%;
  line-height: var(--pf-global--LineHeight--md);
  color: var(--pf-global--Color--100);
}

.boxed-expression-provider blockquote,
.boxed-expression-provider dd,
.boxed-expression-provider dl,
.boxed-expression-provider dt,
.boxed-expression-provider fieldset,
.boxed-expression-provider figure,
.boxed-expression-provider h1,
.boxed-expression-provider h2,
.boxed-expression-provider h3,
.boxed-expression-provider h4,
.boxed-expression-provider h5,
.boxed-expression-provider h6,
.boxed-expression-provider hr,
.boxed-expression-provider iframe,
.boxed-expression-provider legend,
.boxed-expression-provider li,
.boxed-expression-provider ol,
.boxed-expression-provider p,
.boxed-expression-provider pre,
.boxed-expression-provider textarea,
.boxed-expression-provider ul {
  padding: 0;
  margin: 0;
}

.expression-container .expression-info .expression-info-name {
  font-weight: 700;
  color: var(--pf-global--palette--black-600);
  font-family: Menlo, monospace;
  font-size: 0.8em;
  white-space: pre !important;
}

.expression-container .expression-info .expression-info-data-type {
  white-space: pre !important;
  font-style: italic;
  font-size: smaller;
  color: #1b515f;
}
