.navigator {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #cacaca;
    border-left: none;
    border-right: none;
}

.navigator td {
    background: #f8f8f8;
    color: #484848;
    border-bottom: 1px solid #eee;
    padding: 7px 3px;
    vertical-align: middle;
    white-space: nowrap;
}

.navigator td:first-child {
    border-left: 0px;
}

.navigator-icon {
    width: 17px;
    padding-right: 2px;
    padding-left: 10px;
}

.navigator-message {
    max-width: 420px;
}

.message {
    color: #4E575B;
}

.breadcrumb {
    list-style: none;
    margin-bottom: 5px !important;
}

.breadcrumb li {
    font-size: 18px;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.repo-name {
    font-weight: bold;
    font-style: italic;
}

.directory-name {
    font-weight: bold;
}