/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.kie-bpmn-editor--data-mapping--modal {
  height: 80%;
  width: 80%;
  position: relative;
}

.kie-bpmn-editor--data-mapping--modal-section {
  padding-bottom: 16px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.kie-bpmn-editor--data-mapping--empty-state {
  padding: 4px;
  margin-top: 8px;
  background: #eee;
  border-radius: 10px;
  text-align: center;
  flex-grow: 1;
}

.kie-bpmn-editor--properties-panel--data-mapping-entry {
  align-items: center;
  border-radius: 10px;
}

.kie-bpmn-editor--properties-panel--data-mapping-entry:hover,
.kie-bpmn-editor--properties-panel--data-mapping-entry:focus-within {
  background: #eee;
}

.kie-bpmn-editor--properties-panel--data-mapping-entry div > input {
  border: 0;
}

.kie-bpmn-editor--properties-panel--data-mapping-entry div:not(:nth-last-child(2)) > input {
  border-right: 1px dotted black;
}

.kie-bpmn-editor--properties-panel--data-mapping-submit-save-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 8px 20px;
}
