<div class="multi-screen" data-field="screen">
    <div class="page-content-kie gwt-container">
        <div class="multi-screen-toolbar-pf toolbar-pf">
            <div class="toolbar-pf-actions">
                <div class="toolbar-data-title-kie" data-field="title"></div>
                <div class="toolbar-pf-action-right" data-field="actions">
                    <div class="form-group" data-field="close-group">
                        <button class="btn btn-link" data-field="close"><span class="pficon pficon-close"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div data-field="content" class="main-container col-md-12 col-lg-12 gwt-container"></div>
    </div>
</div>