.navbar-pf .navbar-right .dropdown-menu.kie-launcher {
    right: -30px;
}

.kie-app-launcher {
    padding-left: 0px;
    padding-right: 0px;
}

.kie-app-launcher .col-sm-6 {
    padding-left: 10px;
    padding-right: 10px;
}