.kie-dmn-editor--diagram-container {
  height: 600px;
  border: 1px dashed black;
}

.kie-dmn-editor--node {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid black;
  word-break: break-all;
  overflow: hidden;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
}

.react-flow__node:hover > .kie-dmn-editor--node,
.react-flow__node.selected > .kie-dmn-editor--node {
  box-shadow: 4px 4px 2px 0px rgb(0 0 0 / 50%);
}

.kie-dmn-editor--node.kie-dmn-editor--input-data-node {
  border-radius: 9999px;
}

.kie-dmn-editor--node.kie-dmn-editor--decision-node {
  border-radius: 0px;
}

.kie-dmn-editor--node.kie-dmn-editor--bkm-node {
  transform: skew(-30deg);
}

.kie-dmn-editor--node.kie-dmn-editor--decision-service-node {
  border-width: 2px;
  border-radius: 40px;
  align-items: start;
}

.kie-dmn-editor--node.kie-dmn-editor--decision-service-node::before {
  content: "";
  background: black;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 1px;
}

.kie-dmn-editor--node.kie-dmn-editor--decision-service-node::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border: 1px solid blue;
  top: calc(50px - 5px);
  left: calc(50% - 5px);
  border-radius: 11px;
  width: 11px;
  height: 11px;
}

.kie-dmn-editor--node.kie-dmn-editor--group-node {
  border-radius: 9999px;
  border: 1px dotted black;
}

.kie-dmn-editor--node.kie-dmn-editor--text-annotation-node {
  border: 0;
  border-left: 1px solid black;
}

.kie-dmn-editor--node.kie-dmn-editor--knowledge-source-node {
  border-bottom: 0;
  border-left: 0;
}

/* react flow theming */

.react-flow__nodesselection-rect {
  transform-origin: top left;
  transform: translate(-20px, -20px);
  box-sizing: content-box;
  padding: 20px;
  border-radius: 6px;
  border: 2px dotted;
}
