<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <filter>
    <filter-name>Security Filter</filter-name>

    <filter-class>org.picketlink.authentication.web.AuthenticationFilter</filter-class>

    <init-param>
      <param-name>authType</param-name>
      <param-value>org.jboss.errai.security.server.FormAuthenticationScheme</param-value>
    </init-param>
    <init-param>
      <param-name>form-login-page</param-name>
      <param-value>/login.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>host-page</param-name>
      <param-value>/showcase.html</param-value>
    </init-param>
    <init-param>
      <param-name>forceReAuthentication</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Security Filter</filter-name>
    <url-pattern>/showcase.html</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Security Filter</filter-name>
    <url-pattern>/uf_security_check</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Security Filter</filter-name>
    <url-pattern>*.erraiBus</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>Host Page Patch</filter-name>
    <filter-class>org.jboss.errai.security.server.servlet.UserHostPageFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Host Page Patch</filter-name>
    <url-pattern>/showcase.html</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>GWT Locale Filter</filter-name>
    <filter-class>org.uberfire.server.locale.GWTLocaleHeaderFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>GWT Locale Filter</filter-name>
    <url-pattern>/showcase.html</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>ErraiServlet</servlet-name>
    <servlet-class>org.jboss.errai.bus.server.servlet.DefaultBlockingServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>ErraiServlet</servlet-name>
    <url-pattern>*.erraiBus</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>org.uberfire.server.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/org.uberfire.UberfireShowcase/defaulteditor/upload/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>org.uberfire.server.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/org.uberfire.UberfireShowcase/defaulteditor/download/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>