#set( $varName = $nameTool.toJavaVar( $attr.name ))

    public $nameTool.resolveAttributeType( $attr) $nameTool.toJavaGetter( $varName, $attr.className )() {
        return this.$varName;
    }

    public void $nameTool.toJavaSetter( $varName )($nameTool.resolveAttributeType( $attr) $varName) {
        this.$varName = $varName;
    }