##
## Template to generate a nested static class.
##
#set($methods =  $attr.getMethods())
#set($className =   $attr.getClassName())
#if ($nameTool.hasClassAnnotations($attr))
    $engine.generateAllAnnotationsString($context, $attr)
#end
public static class $className $nameTool.resolveSuperClassType($attr) $nameTool.resolveImplementedInterfacesType($attr) {

    static final long serialVersionUID = 1L;
##
## Generate methods
##
#foreach( $method in $methods)
    $engine.generateMethodString($context, $method, "    ")
#end

}