/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */

.webapp--page-main-div {
  display: flex;
  height: 100%;
}

.webapp--page-navigation {
  background-color: rgb(24, 24, 24);
  height: 100%;
}

.webapp--page-navigation-title-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.webapp--page-navigation-title-h3 {
  color: white;
  padding: 20px;
}

.webapp--page-base64png-gallery--navigation-nav-item {
  display: flex;
  align-items: center;
}

.webapp--page-base64png-gallery--navigation-nav-item:hover {
  width: 200px;
}

.webapp--page-base64png-gallery--navigation-nav-item-card {
  width: 200px;
}

.webapp--page-kogito-editors-sidebar {
  display: flex;
}

.webapp--page-kogito-editors-sidebar--navigation {
  background-color: rgb(24, 24, 24);
  height: 100%;
}

.webapp--page-kogito-editors-sidebar--navigation-nav-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.webapp--page-kogito-editors-sidebar--navigation-nav-item-text-input {
  width: 100px;
}

.webapp--page-kogito-editors-sidebar--navigation-nav-item-div {
  width: 100%;
}

.webapp--page-kogito-editors-sidebar--navigation-nav-item-a {
  color: white;
}

.webapp--page-kogito-editors-sidebar--navigation-nav-item-open-file {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  z-index: 999;
}

.webapp--page-ping-pong-view {
  display: flex;
  width: 100%;
}

.webapp--page-ping-pong-view-navigation {
  width: 200px;
}

.webapp--page-to-do-view {
  display: flex;
}
