.countries path {
    stroke: #AAAAAA;
    stroke-width: 0.4;
    fill: #D4D4D4;
}

.map-legend-caption {
    font: 14px sans-serif;
    text-anchor: start;
    font-weight: bold;
    color: black;
}

.fill-region {
    stroke-width: 0.4;
}

.fill-region:hover {
    stroke-width: 2.0;
    stroke: #777777;
}

.data-circle {
    fill-opacity: 0.6;
    stroke: #00DD00;
    stroke-width: 0.4;
}

.data-circle:hover {
    stroke-width: 2.0;
}

.map-legend-val {
    font: italic 10px sans-serif;
    text-anchor: start;
    font-weight: bold;
    color: black;
}