/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */

.zoom-selector-button-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zoom-selector-menu {
  max-height: 250px;
  overflow-y: auto;
}

.button-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.button-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.button-light:focus,
.button-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.button-light.disabled,
.button-light:disabled {
  color: #a8a8a8;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.button-light:not(:disabled):not(.disabled):active,
.button-light:not(:disabled):not(.disabled).active,
.show > .button-light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.button-light:not(:disabled):not(.disabled):active:focus,
.button-light:not(:disabled):not(.disabled).active:focus,
.show > .button-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.button-dark {
  color: #fff;
  background-color: #292a2d;
  border-color: #343a40;
}

.button-dark:hover {
  color: #fff;
  background-color: #000000;
  border-color: #1d2124;
}

.button-dark:focus,
.button-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.button-dark.disabled,
.button-dark:disabled {
  color: #909090;
  background-color: #343a40;
  border-color: #343a40;
}

.button-dark:not(:disabled):not(.disabled):active,
.button-dark:not(:disabled):not(.disabled).active,
.show > .button-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.button-dark:not(:disabled):not(.disabled):active:focus,
.button-dark:not(:disabled):not(.disabled).active:focus,
.show > .button-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
