.mining-schema-list {
  min-height: 30vh;
  margin: 1rem 0;
  &__item {
    border: 1px solid var(--pf-global--BorderColor--100);
    padding: 1em;
    background-color: #ffffff;
    margin-bottom: 1em;
    user-select: none;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
