<rule>
  <name>expireOrganicAcid</name>
  <modelVersion>1.0</modelVersion>
  <attributes/>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>$acidName</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>OrganicAcid</factType>
            <fieldName>name</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>OrganicAcid</factType>
      <boundName>$acid</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <setField>
      <fieldValues>
        <fieldValue>
          <field>expirationDate</field>
          <value>$expiration</value>
          <nature>7</nature>
          <type>LocalDate</type>
        </fieldValue>
      </fieldValues>
      <variable>$acid</variable>
    </setField>
  </rhs>
  <imports>
    <imports>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>org.drools.workbench.screens.testscenario.backend.server.model.OrganicAcid</type>
      </org.kie.soup.project.datamodel.imports.Import>
    </imports>
  </imports>
  <packageName>org.drools.workbench.screens.testscenario.backend.server</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>$acidName</string>
      <list>
        <string>Antacid</string>
        <string>Lactacid</string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
        <string>2</string>
      </list>
    </entry>
    <entry>
      <string>$expiration</string>
      <list>
        <string>17-Oct-2019</string>
        <string>17-Oct-2000</string>
      </list>
    </entry>
  </table>
  <idCol>2</idCol>
  <rowsCount>2</rowsCount>
</rule>