.ds-mgmt-navigation-area {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.ds-mgmt-add-new-element {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
}

.ds-mgmt-element-nav {
    padding-left: 0 !important;
    padding-right: 0 !important;;
}
