.ds-mgmt-navigation-area {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.ds-mgmt-add-new-element {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
}

.ds-mgmt-element-nav {
    padding-left: 0 !important;
    padding-right: 0 !important;;
}

.ds-mgmt-element-navigation .list-group-item.active {
    /*color: #ffffff;
    background-color: #0088ce;
    */
}

.ds-mgmt-element-navigation a.list-group-item {
    /*
    background-color: transparent;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    */
}
