.container-canvas {
    background-color: white;
    /*border*/
    border: 1px solid #b1caf2;
    -webkit-box-shadow: 2px 4px 6px 1px rgba(211, 211, 211, 0.25) !important;
    -moz-box-shadow: 2px 4px 6px 1px rgba(211, 211, 211, 0.25) !important;;
    box-shadow: 2px 4px 6px 1px rgba(211, 211, 211, 0.25) !important;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.page-container{
    height:100%;
}

.container-empty {
    padding: 0px;
    height:100%;
}

.container-header {
    height: 15px;
    cursor: pointer;
    margin-top: -15px;
}

.container-selected {
    border-color: #33a6cc !important;
}

.resolution {
    text-align: center;
    font-size: 20px;
}

.simulate-xs .col-md-1 {
    width: 100%
}

.simulate-xs .col-md-2 {
    width: 100%
}

.simulate-xs .col-md-3 {
    width: 100%
}

.simulate-xs .col-md-4 {
    width: 100%
}

.simulate-xs .col-md-5 {
    width: 100%
}

.simulate-xs .col-md-6 {
    width: 100%
}

.simulate-xs .col-md-7 {
    width: 100%
}

.simulate-xs .col-md-8 {
    width: 100%
}

.simulate-xs .col-md-9 {
    width: 100%
}

.simulate-xs .col-md-10 {
    width: 100%
}

.simulate-xs .col-md-11 {
    width: 100%
}

.simulate-xs .col-md-12 {
    width: 100%
}

.simulate-sm .col-md-2 {
    width: 20%
}

.simulate-sm .col-md-4 {
    width: 50%
}

.simulate-sm .col-md-6 {
    width: 100%
}




