/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */

.dark {
  --pf-c-drawer__splitter-handle--after--BorderColor: #b1b1b1;
  --pf-c-drawer__splitter--hover__splitter-handle--after--BorderColor: #e0e0e0;
  --pf-c-drawer__splitter--after--BorderColor: #3c3c3c;
  --pf-c-drawer__splitter--BackgroundColor: black;
  --pf-c-drawer__content--BackgroundColor: black;
  --pf-c-drawer__panel--BackgroundColor: black;
  --pf-c-drawer__section--BackgroundColor: black;
}
