/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.uf-navitem-tile-body {
  cursor: pointer;
  float: left;
  height: 160px;
  width: 160px;
  margin: 0 10px 10px 0;
  font-size: 16px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.uf-navitem-tile-icon {
  margin-top: 25px;
  font-size: 46px;
  color: #ffffff;
}
.uf-navitem-tile-text {
  color: #ffffff;
}
.uf-navitem-tile-group {
  background: rgba(76, 98, 154, 0.52);
}
.uf-navitem-tile-perspective {
  background: rgba(67, 154, 99, 0.6);
}
.uf-navitem-tile-runtime-perspective {
  background: rgba(67, 154, 99, 0.6);
}
