<div data-field="content">
    <div class="alert alert-danger" data-field="validation">
        <span class="pficon pficon-error-circle-o"></span>
        <div data-i18n-key="validationError"></div>
    </div>
    <div class="form-group" data-field="nameGroup">
        <label for="sshKeyNameInput"><span data-i18n-key="name"></span><sup><i class="fa fa-star appformer_ssh_new_key_required"></i></sup></label>
        <input type="text" class="form-control" id="sshKeyNameInput" data-field="name">
        <span data-field="nameHelpBlock" class="help-block"></span>
    </div>
    <div class="form-group" data-field="keyGroup">
        <label for="sshKeyText"><span data-i18n-key="key"></span><sup><i class="fa fa-star appformer_ssh_new_key_required"></i></sup></label>
        <textarea class="form-control" id="sshKeyText" data-field="key" rows="6"></textarea>
        <span data-field="keyHelpBlock" class="help-block"></span>
    </div>
</div>