<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>runMigration.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE"/>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Print info messages from the migration tool -->
  <logger name="org.drools.workbench.jcr2vfsmigration" level="INFO"/>

  <!-- Adjust/disable logging for following classes as they generate WARN/ERROR messages
       which can be safely ignored in the jcr2vfs context -->
  <logger name="org.kie.scanner.embedder.MavenSettings" level="OFF"/>
  <logger name="org.drools.compiler.kie.builder.impl.AbstractKieModule" level="OFF"/>
  <logger name="org.jboss.solder.config.xml.model.ModelBuilder" level="ERROR"/>
  <logger name="org.drools.guvnor.server.repository.RulesRepositoryManager" level="ERROR"/>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE-ASYNC"/>
  </root>

</configuration>