.acl-leaf-panel {
    padding-left: 20px;
}

.acl-display-none {
    display: none;
}

.acl-help-icon {
    margin-left: 5px;
}

.acl-name-panel {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
}

.acl-name-label {
    float: left;
}

.acl-help-panel {
    vertical-align: middle;
    font-size: small;
    margin-left: 5px;
}

.acl-permissions-panel {
    display: table-cell;
}
