.acl-root-panel {
    margin-top: 5px;
}

.acl-root-panel-expanded {
    margin-top: 5px;
    border: 1px solid lightgrey;
}

.acl-header-panel {
    margin-top: 5px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.acl-header-panel-expanded {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e9e8e8;
}

.acl-header-panel-over {
    margin-top: 5px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e9e8e8;
}

.acl-display-none {
    display: none;
}

.acl-node-name-panel {
    display: table-cell;
    vertical-align: middle;
}

.acl-node-help-panel {
    vertical-align: middle;
    font-size: small;
}

.acl-node-help-icon {
    margin-left: 5px;
}

.acl-collapse-panel {
    margin-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.acl-permissions-panel {
    display: table-cell;
}

.acl-add-child-panel {
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.acl-clear-children-panel {
    margin-top: 10px;
    padding-left: 20px;
}

.acl-child-selector-panel {
    display: table-cell;
}

.acl-add-child-anchor {
    display: table-cell;
}

.acl-cancel-anchor {
    display: table-cell;
    width: 20px;
}

.acl-clear-children-anchor {
    display: table-cell;
    padding-left: 20px;
}


