.acl-multiple-panel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.acl-node-anchor {
    font-weight: inherit;
    color: inherit;
}

.acl-collapse-panel {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.acl-children-panel {
    margin-bottom: 5px;
}
