.e-switch-panel {
    margin-right: 10px;
    min-width: 170px;
}

.e-separator-vert {
    margin-right: 10px;
    width: 1px;
    height: 40px;
    float: left;
    background-color: lightgray;
}

.e-badge-panel {
    float: left;
    width: 20px;
    margin-right: 5px;
    margin-top: 11px;
}

.e-badge-red {
    color: white;
    background-color: #c00;
    font-size: smaller;
}

.e-toggle-panel {
    float: left ;
    margin-top: 7px;
}