.acl-eswitch-panel {
    display: table-cell;
    margin-right: 10px;
    min-width: 170px;
}

.acl-eseparator-vert {
    margin-right: 10px;
    width: 1px;
    height: 40px;
    float: left;
    background-color: lightgray;
}

.acl-ebadge-panel {
    float: left;
    width: 20px;
    margin-right: 5px;
    margin-top: 11px;
}

.acl-ebadge-red {
    color: white;
    background-color: #c00;
    font-size: smaller;
}

.acl-etoggle-panel {
    float: left ;
    margin-top: 7px;
}