.acl-switch-panel {
    display: table-cell;
    min-width: 170px;
}

.acl-separator-vert {
    margin-right: 10px;
    width: 1px;
    height: 30px;
    float: left;
    background-color: lightgray;
}

.acl-badge-panel {
    float: left;
    width: 20px;
    margin-right: 5px;
    margin-top: 7px;
}

.acl-badge-red {
    color: white;
    background-color: #c00;
    font-size: smaller;
}

.acl-toggle-panel {
    float: left;
}
