<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <context-param>
    <param-name>javax.ws.rs.Application</param-name>
    <param-value>org.kie.workbench.common.services.rest.GuvnorRestApplication</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/rest</param-value>
  </context-param>
<!--   <context-param>
    <param-name>resteasy.providers</param-name>
    <param-value>org.drools.guvnor.server.security.BasicAuthentication</param-value>
  </context-param> -->


</web-app>
