/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */

.notification {
  border: 0;
  margin: 0;
  padding: 0;
  z-index: 100000;
}

.uf-scroll-panel {
  height: 100%;
  width: 100%;
}

@external .navbar-fixed-top, .navbar-fixed-bottom;

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: static !important;
}

/* Styles prefixed with uf- are not obfuscated and can be overridden in application stylesheets. */
@external .uf-*, .js-*;

.uf-no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.uf-perspective-container {
  height: 100%;
}

.uf-perspective-row-12 {
  height: 100%;
}

.uf-perspective-row-11 {
  height: 91.66666667%;
}

.uf-perspective-row-10 {
  height: 83.33333333%;
}

.uf-perspective-row-9 {
  height: 75%;
}

.uf-perspective-row-8 {
  height: 66.66666667%;
}

.uf-perspective-row-7 {
  height: 58.33333333%;
}

.uf-perspective-row-6 {
  height: 50%;
}

.uf-perspective-row-5 {
  height: 41.66666667%;
}

.uf-perspective-row-4 {
  height: 33.33333333%;
}

.uf-perspective-row-3 {
  height: 25%;
}

.uf-perspective-row-2 {
  height: 16.66666667%;
}

.uf-perspective-row-1 {
  height: 8.33333333%;
}

.uf-perspective-col {
  height: 100%;
}

.uf-perspective-rendered-col {
  padding-left: 0;
  padding-right: 0;
}

.uf-perspective-rendered-row {
  margin-left: 0;
  margin-right: 0;
}

.uf-perspective-rendered-container {
  width: 100%;
  max-width: none;
  padding: 0;
}
.uf-le-overflow {
  overflow: auto;
}
