.bs3-lienzo-icon-renderer-content {
    text-align: center;
    position: relative;
}

.bs3-lienzo-icon-renderer-content div canvas,
.bs3-lienzo-icon-renderer-content div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}