/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.inlineNameEditBoxNameBox {
  position: absolute;
  content: "\a";
  white-space: pre-line;
  outline: none;
  overflow: hidden;
  overflow-wrap: break-word;
  height: auto;
  border: none;
  resize: none;
  background-color: transparent;
  font-weight: normal;
  line-height: 1.2;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-user-modify: read-write-plaintext-only;
}

[data-text]:empty:before {
  content: attr(data-text);
  color: #888;
  font-style: italic;
}
