.clickable {
    cursor: pointer;
    height: 100%;
    width: 1em;
    opacity: 0.6;
    transition: opacity .5s;
    text-decoration: none;
}

.clickable.no-fade {
    transition: none;
    opacity: 1;
}

.clickable:hover {
    opacity: 1;
    text-decoration: none;
}

/*.box.selected {*/
/*color: #0066cc;*/
/*text-shadow: rgba(0, 51, 102, 0.3) 0 -1px 0, #b3d9ff 0 2px 1px, #99ddff 0 0 5px, rgba(0, 127, 255, 0.6) 0 0 20px;*/
/*}*/

/*.box.selected .box-right i {*/
/*text-shadow: none;*/
/*}*/

.box > .box-left > div {
    border-radius: 4px;
}

.box {
    cursor: pointer;
    height: 20px;
    line-height: 2em;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-overflow: ellipsis;
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    background: rgba(255, 255, 255, .4);
    border-bottom: 1px solid #D4D4D4;
}

.box > .box-left > div {
    top: 8px;
    left: 0;
    position: relative;
    display: inline;
}

.box > .box-left > .profile-select {
    display: inline-block;
    top: 9px;
    max-width: 210px;
    width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box input[type='checkbox'] {
    margin-top: 5px;
    display: inline;
}

.box .active-profile a.invisible {
    visibility: none;
}

.box .active-profile div {
    display: inline;
}

.box .active-profile {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 12px;
    right: 0;
}

.box .active-profile [class^='fa-circle'] {
    top: 0;
}

.box > .box-left {
    display: inline-block;
    position: absolute;
    left: 11px;
    vertical-align: middle;
    top: 50%;
    margin-top: -22px;
    height: 30px;
}

.box > .box-right {
    display: inline-block;
    position: absolute;
    right: 11px;
    vertical-align: middle;
    top: 50%;
    margin-top: -15px;
    height: 30px;
}

.box > .box-middle {
    display: inline-block;
    position: absolute;
    right: 60px;
    vertical-align: middle;
    top: 50%;
    margin-top: -15px;
    height: 30px;
}

.box-middle ul.inline li {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.box-middle ul.inline li:hover {
    opacity: 1;
}

.box.selected .box-right i {
    text-shadow: none;
}

.contained {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    white-space: nowrap;
}

h2 > .contained {
    top: 5px;
}

h4 > .contained {
    top: 4px;
}

.green {
    color: #008000 !important;
}

.red {
    color: #FF0000 !important;
}

.orange {
    color: #FFA500 !important;
}

.yellow {
    color: #FFFF00 !important;
}

.green {
    color: #008000 !important;
}

.blue {
    color: #1E90FF !important;
}

.c-wide {
    max-width: 15em;
}

ul.inline,
ol.inline {
    margin-left: 0;
    list-style: none;
}

ul.inline > li,
ol.inline > li {
    display: inline-block;
    padding-right: 2px;
    padding-left: 2px;
}

.child-container {
    margin-left: 2em;
    transition: none;
}

.section-header {
    background: #FAFAFA linear-gradient(to bottom, #ffffff, #f2f2f2) repeat-x;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 7px;
}

.section-controls {
    display: inline-block;
    float: right;
}

.section-header .selection-controls {
    position: relative;
    top: 1px;
}

.selection-controls {
    display: inline-block;
}

.section-controls > a {
    color: #4d5258;
}

.section-controls > a:hover,
.section-controls > span:hover {
    text-shadow: rgba(0, 0, 0, 0.6) 0 0 20px;
}

.section-controls > a.nav-danger {
    color: #CD5C5C !important;
}

.section-controls > a.nav-danger:hover {
    text-shadow: rgba(205, 92, 92, 0.6) 0 0 20px !important;
}

.section-header .section-controls {
    position: relative;
    top: 6px;
    left: -3px;
}

.section-header .section-filter {
    margin-top: 0px;
}

.section-filter {
    position: relative;
    display: inline-block;
    margin-left: 12px;
}

input.search-query {
    padding-right: 14px;
    padding-right: 4px \9;
    padding-left: 14px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.section-filter .icon-to-remove {
    position: absolute;
    top: 7px;
    right: 9px;
}
.cell-icon{
    text-align: right;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}
