<rule>
  <name>cars</name>
  <modelVersion>1.0</modelVersion>
  <attributes/>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>$color</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Car</factType>
            <fieldName>color</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$price</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Car</factType>
            <fieldName>price</fieldName>
            <fieldType>Integer</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Car</factType>
      <boundName>c</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <assert>
      <fieldValues>
        <fieldValue>
          <field>car</field>
          <value>c</value>
          <nature>1</nature>
          <type>Car</type>
        </fieldValue>
        <fieldValue>
          <field>name</field>
          <value>$owner</value>
          <nature>7</nature>
          <type>String</type>
        </fieldValue>
      </fieldValues>
      <factType>Owner</factType>
      <isBound>false</isBound>
    </assert>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>org.kiegroup</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
        <string>2</string>
        <string>3</string>
        <string>4</string>
      </list>
    </entry>
    <entry>
      <string>$color</string>
      <list>
        <string>red</string>
        <string>red</string>
        <string>red</string>
        <string>white</string>
      </list>
    </entry>
    <entry>
      <string>$price</string>
      <list>
        <string>10000</string>
        <string>20000</string>
        <string>30000</string>
        <string>8000</string>
      </list>
    </entry>
    <entry>
      <string>$owner</string>
      <list>
        <string>john</string>
        <string>peter</string>
        <string>martin</string>
        <string>unknown</string>
      </list>
    </entry>
  </table>
  <idCol>4</idCol>
  <rowsCount>4</rowsCount>
</rule>