.ping-pong-view--line {
  font-family: "monospace";
}

.ping-pong-view--header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #292d34;
  color: rgb(96, 210, 243);
}

.ping-pong-view--log {
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 12px;
}

.ping-pong-view--main {
  border: 2px solid green;
  padding: 10px;
}

.ping-pong-view--container {
  border: 2px solid red;
}

.ping-pong-view--p-iframe {
  color: green;
}

.ping-pong-view--p-ping-pong {
  color: red;
}
