/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.xyflow-react-kie-diagram--node {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  overflow: hidden;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: visible;
  z-index: 10000; /* Makes the data type node panel appear correctly, on top of the node */
}
.xyflow-react-kie-diagram--node:focus {
  outline: none;
}
.xyflow-react-kie-diagram--node.dimmed,
.xyflow-react-kie-diagram--node-shape.dimmed {
  opacity: 0.3;
  pointer-events: none;
}
.xyflow-react-kie-diagram--node-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

/* (begin) containment nodes */
/* CONTAINMENT NODES HAVE A SPECIFIC SELECTION MECHANISM TO ALLOW EDITING EDGES INSIDE THEM */
.xyflow-react-kie-diagram--containment-node-visibleRect {
  pointer-events: none;
}
.react-flow__node-node_containment {
  pointer-events: none !important;
  background: transparent;
  box-shadow: none !important;
}
.react-flow__node-node_containment:not(.selected) .xyflow-react-kie-diagram--node-shape {
  filter: none !important;
}
.react-flow__node-node_containment .xyflow-react-kie-diagram--outgoing-stuff-node-panel,
.react-flow__node-node_containment .xyflow-react-kie-diagram--editable-node-name-input span,
.react-flow__node-node_containment .xyflow-react-kie-diagram--info-node-panel,
.react-flow__node-node_containment .react-flow__resize-control div {
  pointer-events: all !important;
}
/* (end) containment nodes */
