/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.xyflow-react-kie-diagram--outgoing-stuff-node-panel {
  position: absolute;
  left: calc(100% - 10px); /* - 1px to make sure it is directly connected to the node */
  top: 0;
  padding-left: 15px;
  height: max(40%, 80px);
  align-content: flex-start;
  pointer-events: none;
}
/* used to fill gaps where pointer-events would be `none`*/
/* uncomment the background:red property to see what it means */
.xyflow-react-kie-diagram--outgoing-stuff-node-panel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 32px; /* 15px margin + 17px border-radius; */
  height: 100%;
  pointer-events: all;
  /* background: red; */
  z-index: 1000;
}
/* used to fill gaps where pointer-events would be `none`*/
/* uncomment the background:red property to see what it means */
.xyflow-react-kie-diagram--outgoing-stuff-node-panel::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 4px); /* 4px margin */
  width: calc(100% - 17px); /* 17px border radius */
  height: 14px;
  pointer-events: all;
  /* background: red; */
  z-index: 1000;
}
.xyflow-react-kie-diagram--outgoing-stuff-node-panel > div {
  pointer-events: all;
  display: flex;
  margin: 0 0 4px 0;
  background: #fff;
  border-radius: 24px;
  border: 1px solid black;
  box-shadow: 4px 4px 2px 0px rgb(127 127 127);
  z-index: 2000;
}
.xyflow-react-kie-diagram--outgoing-stuff-node-panel > div > div {
  color: black;
  margin: 0;
  padding: 0;
  width: 34px;
  height: 34px;
  max-width: 34px;
  border-radius: 34px;
  background: #fff;
  border: 0;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.xyflow-react-kie-diagram--outgoing-stuff-node-panel > div > div:hover {
  filter: brightness(95%);
}
.xyflow-react-kie-diagram--outgoing-stuff-node-panel > div > div:active {
  filter: brightness(90%);
}
