/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */

// The title text itself has padding-left of 8px to align with the Textbox content when editing.
// Therefore the default PF Split Gutter spacing is too large so reduce. Total remains 16px.
.pf-l-split__item.modelTitle__icon {
  margin-right: 8px !important;
  display: flex !important;
}

.modelTitle {
  &--full-width {
    width: 100% !important;
  }

  &--hide-overflow {
    overflow: hidden !important;
  }

  --sizeEasing: cubic-bezier(0.25, 1, 0.5, 1) !important;

  display: flex !important;
  flex-direction: row !important;

  cursor: text !important;
  white-space: nowrap !important;

  // Ensure the text appears in the same place as the Textbox when editing
  margin-top: 1px !important;
  padding-top: 0 !important;
  padding-left: 8px !important;
  padding-right: 8px !important;

  // Ensure the border transition does not flicker with default black borders
  border: 1px solid #ffffff !important;
  transition: margin-bottom 0.15s var(--sizeEasing), border-left 0.12s ease-in, border-right 0.12s ease-in,
    border-top 0.12s ease-in, border-bottom 0.12s ease-in !important;

  &:not(.modelTitle--editing):hover {
    border: 1px solid var(--pf-global--BorderColor--100) !important;
  }

  // Ensure the Textbox when editing does not affect content positioning below.
  &--editing {
    padding-top: 2px !important;
  }

  // Overrides for pf-c-form__group-label-help
  &__icon {
    padding: 0 0 2px 0 !important;
    margin: 0 !important;
  }

  &__truncate {
    overflow: hidden !important;
    text-overflow: ellipsis !important;

    &--disabled {
      color: var(--pf-global--Color--200) !important;
    }
  }
}
