<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">


  <servlet-mapping>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>resteasy.role.based.security</param-name>
    <param-value>true</param-value>
  </context-param>

  <listener>
    <listener-class>org.uberfire.backend.server.io.DisposableShutdownService</listener-class>
  </listener>

  <filter>
    <filter-name>Cache Filter</filter-name>
    <filter-class>org.uberfire.ext.security.server.CacheHeadersFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Cache Filter</filter-name>
    <url-pattern>/index.html</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Cache Filter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>UberFire Security Headers Filter</filter-name>
    <filter-class>org.uberfire.ext.security.server.SecureHeadersFilter</filter-class>
    <init-param>
      <param-name>x-frame-options</param-name>
      <param-value>SAMEORIGIN</param-value>
    </init-param>
    <init-param>
      <param-name>x-xss-protection-enable</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>x-xss-protection-block</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>UberFire Security Headers Filter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>request-capture</filter-name>
    <filter-class>org.uberfire.ext.security.server.SecurityIntegrationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>request-capture</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>ErraiServlet</servlet-name>
    <servlet-class>org.jboss.errai.bus.server.servlet.DefaultBlockingServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>ErraiServlet</servlet-name>
    <url-pattern>*.erraiBus</url-pattern>
  </servlet-mapping>

  <!-- the number within the session-timout element must be expressed in
minutes. it is now 24 hours. -->
  <session-config>
    <session-timeout>1440</session-timeout>
  </session-config>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>wb</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>public</web-resource-name>
      <url-pattern>/ArquillianServletRunner</url-pattern>
    </web-resource-collection>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>KIE Workbench Realm</realm-name>
  </login-config>

  <security-role>
    <description>Administrator - Administrates the BPMS system. Has full access
      rights to make any changes necessary. Also has the
      ability to add and remove users from the system.
    </description>
    <role-name>admin</role-name>
  </security-role>

</web-app>
