<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="gwt:property" content="locale=@{locale}">

    <title>UberFire Showcase</title>
    <link rel="stylesheet" href="css/uberfire-loading.css">
    <link rel="stylesheet" href="css/uberfire-showcase.css">
    <link rel="stylesheet" href="css/ruleflow.css">
</head>
<body>
<iframe id="__gwt_historyFrame" style="width: 0; height: 0; border: 0"></iframe>
<script type="text/javascript">
  var current_user = { name:"@{name}", roles:[@{roles}] }
</script>
<!--add loading indicator while the app is being loaded-->
<div id="loading">
    <div class="loading-indicator">
        <img src="images/loading-icon.gif" width="32" height="32" style="margin-right: 8px; float: left; vertical-align: top;"/>
        Please wait<br/><span id="loading-msg">Loading application...</span>
    </div>
</div>

<!-- The GWT js file generated at run time -->
<script type="text/javascript" src='org.uberfire.UberfireShowcase.nocache.js'></script>

</body>
</html>
