/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */

div.tab-content {
  div.kie-dmn-page {
    .kie-flash-message-error-element {
      border: 1px solid #c00;
      outline-color: #c00;
    }

    .kie-flash-message-warning-element {
      border: 1px solid #ec7a08;
      outline-color: #ec7a08;
    }

    .alert {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.15s linear;
      padding: 0 0 0 47px;
      margin: 5px;

      &.opened.alert-warning {
        padding-right: 120px;
      }
    }

    .action-buttons {
      position: absolute;
      right: 10px;
      top: 10px;

      .btn {
        width: 50px;
        margin: 0 1px;
      }

      .fa {
        background: transparent;
        border: none;
      }
    }

    .alert.opened {
      opacity: 1;
      max-height: 100px;
      padding: 11px 14px 10px 47px;
      margin-bottom: 20px;
    }
  }
}
