.kie-app-launcher span.fa {
    padding-bottom: 5px;
}

.kie-launcher a.kie-app-launcher:hover {
    color: #0099d3;
    text-decoration: none;
}

.kie-app-launcher-text {
    font-size: 12px;
    white-space: normal;
}