.data-dictionary {
  height: 60vh;
  &__types-list {
    height: calc(100% - 68px);
    overflow-y: auto;
    padding: 1em;
    background-color: var(--pf-global--BackgroundColor--200);
  }
  &__overview {
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 1;
      transition: opacity 230ms;
    }
    &-exit {
      opacity: 1;
    }
    &-exit-active {
      opacity: 0;
      transition: opacity 100ms;
    }
  }
}
