/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.countries path {
  stroke: #aaaaaa;
  stroke-width: 0.4;
  fill: #d4d4d4;
}

.map-legend-caption {
  font: 14px sans-serif;
  text-anchor: start;
  font-weight: bold;
  color: black;
}

.fill-region {
  stroke-width: 0.4;
}

.fill-region:hover {
  stroke-width: 2;
  stroke: #777777;
}

.data-circle {
  fill-opacity: 0.6;
  stroke: #00dd00;
  stroke-width: 0.4;
}

.data-circle:hover {
  stroke-width: 2;
}

.map-legend-val {
  font: italic 10px sans-serif;
  text-anchor: start;
  font-weight: bold;
  color: black;
}
