.constraints-enum {
  &__item {
    background-color: #fff;
    border-top: 1px solid var(--pf-global--disabled-color--200);
    &:last-of-type {
      border-bottom: 1px solid var(--pf-global--disabled-color--200);
    }
    list-style: none;
    pointer-events: auto !important;
    cursor: grab;
    z-index: 9999;
    padding: 1rem 0;
    &--sort-disabled {
      cursor: auto;
    }
  }
  &__field {
    width: 320px;
  }
}
