/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */

.expression-container .standalone-bee-table table thead th.dmn-runner-output,
.expression-container .standalone-bee-table table thead th.dmn-runner-output .add-column-button {
  background-color: #bee1f4;
}

.expression-container .table-component table thead th.runner-column-highlight,
.expression-container .table-component table tbody td.runner-column-highlight,
.expression-container .table-component table tbody td:first-child.runner-column-highlight {
  border-left: var(--pf-global--BorderWidth--md) solid var(--pf-global--BorderColor--200);
  border-right: var(--pf-global--BorderWidth--md) solid var(--pf-global--BorderColor--200);
}

.expression-container .table-component table thead tr:last-child th.runner-column-highlight {
  border-top: var(--pf-global--BorderWidth--md) solid var(--pf-global--BorderColor--200);
}

.expression-container .table-component table tbody tr:last-child td.runner-column-highlight {
  border-bottom: var(--pf-global--BorderWidth--md) solid var(--pf-global--BorderColor--200);
}
