@import "../../../../../node_modules/@patternfly/patternfly/sass-utilities/_all.scss";
@import "../../../../../node_modules/@patternfly/patternfly/base/_variables.scss";
@import "../../../../../node_modules/@patternfly/patternfly/base/_themes.scss";

// Toggle dark theme
:not(.vscode-dark) {
  .pf-c-page {
    --pf-c-page--BackgroundColor: var(--pf-global--BackgroundColor--100);
  }
}

.vscode-dark {
  @extend .pf-t-dark;

  .pf-c-title {
    color: var(--pf-global--Color--light-100);
  }
}

.kogito-tooling--loading-screen {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: relative;
}

.loading-finished {
  opacity: 0;
  transition: opacity 10s;
}

.kogito-tooling--loading-screen-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
