.output-item {
  // write the following better
  span,
  strong {
    user-select: text;
  }
  &__type-label {
    text-transform: capitalize;
    margin-right: var(--pf-global--spacer--sm);
    margin-bottom: var(--pf-global--spacer--sm);
  }

  &__type-select {
    &__option,
    .pf-c-select__toggle {
      text-transform: capitalize;
    }
  }
}
