/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.kie-scesim-editor--background-table-container {
  overflow: auto;
}

.kie-scesim-editor--content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-right: 50px;
}

.kie-scesim-editor--content-alert {
  padding: 15px;
}

.kie-scesim-editor--content-tabs {
  height: 100%;
  padding-top: 10px;
  padding-left: 15px;
}

.kie-scesim-editor--creation-form {
  margin-top: 50px;
}

.kie-scesim-editor--root {
  scrollbar-color: rgba(121, 121, 121, 0.4) #f1f1f1;
}

.kie-scesim-editor--scenario-table-container {
  overflow: auto;
}
