/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */

:not(.vscode-dark) {
  .kie-tools--loading-screen .pf-l-bullseye {
    color: var(--pf-global--Color--dark-100);
    background-color: var(--pf-global--BackgroundColor--light-100);
  }
}

.vscode-dark .kie-tools--loading-screen .pf-l-bullseye {
  color: var(--pf-global--Color--light-100);
  background-color: var(--pf-global--BackgroundColor--dark-100);
}

.kie-tools--loading-screen {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: relative;
}

.loading-finished {
  animation-name: fade-out;
  animation-duration: 400ms;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.kie-tools--loading-screen-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kie-tools--keyboard-shortcuts-icon {
  user-select: none;
  z-index: 999;
  left: 0;
  bottom: 5px;
  position: fixed;
  padding: 7px;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  line-height: 22px;
}

/* PF3 -> PF4 overrides */

.kie-tools--keyboard-shortcuts {
  font-family: var(--pf-global--FontFamily--sans-serif);
  color: var(--pf-global--Color--dark-100);
}

.kie-tools--keyboard-shortcuts.kie-tools--keyboard-shortcuts-icon.dark {
  color: #979797;
}

.pf-c-modal-box.kie-tools--keyboard-shortcuts.dark {
  background-color: #313131;
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .dt,
  .dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  dt,
  dd {
    color: #cccccc;
  }
  .pf-c-button.pf-m-plain {
    color: #cccccc;
  }
  .pf-c-button.pf-m-plain:hover {
    color: #000;
  }
}

body {
  color: var(--pf-global--Color-dark--100);
}

dl {
  margin-bottom: 0 !important;
}

dt,
dd {
  line-height: var(--pf-global--LineHeight--md) !important;
}
