<div data-field="mainrow">
    <div data-field="upper" class="row rowCss rowUpper rowCssMove">
        <div data-field="upper-left" class="upper-left">

        </div>
        <div data-field="upper-center" class="upper-center">

        </div>
        <div data-field="upper-right" class="upper-right">

        </div>
    </div>
    <div data-field="row"  class="row rowCss">
    </div>
    <div data-field="bottom" class="row rowCss rowBottom rowCssMove">
        <div data-field="bottom-left" class="bottom-left">

        </div>
        <div data-field="bottom-center" class="bottom-center">

        </div>
        <div data-field="bottom-right" class="bottom-right">

        </div>
    </div>
</div>
