.rowDropPreview {
    background-color: rgba(204, 204, 204, 0.5);
    height: 20px !important;
}

.rowCss {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.rowCssMove {

}

.rowDndPreview {
    opacity: 0.1;
}

.rowMovePreview {
    background-color: rgba(204, 204, 204, 0.5);
    cursor: move;
}

.uf-page-row {
    height: -moz-calc(100% - 15px);
    height: -webkit-calc(100% - 15px);
    height: calc(100% - 15px);
}

.uf-row-bottom {
    height: 10px;
    display: flex;
}

.uf-row-bottom-left {
    height: 100%;
    width: 40%;
}

.uf-row-bottom-center {
    height: 100%;
    width: 20%;
}

.uf-row-bottom-right {
    height: 100%;
    width: 40%;
}

.uf-row-upper {
    height: 10px;
    display: flex;
}

.uf-row-upper-left {
    height: 100%;
    width: 40%;
}

.uf-row-upper-center {
    height: 100%;
    width: 20%;
}

.uf-row-upper-right {
    height: 100%;
    width: 40%;
}
.rowResizeUp {
    cursor: n-resize;
}
.rowResizeDown {
    cursor: s-resize;
}