<div data-field="mainrow">
    <div data-field="upper" class="row rowCss uf-row-upper rowCssMove">
        <div data-field="upper-left" class="uf-row-upper-left">

        </div>
        <div data-field="upper-center" class="uf-row-upper-center">

        </div>
        <div data-field="upper-right" class="uf-row-upper-right">

        </div>
    </div>
    <div data-field="row"  class="row rowCss">
    </div>
    <div data-field="bottom" class="row rowCss uf-row-bottom rowCssMove">
        <div data-field="bottom-left" class="uf-row-bottom-left">

        </div>
        <div data-field="bottom-center" class="uf-row-bottom-center">

        </div>
        <div data-field="bottom-right" class="uf-row-bottom-right">

        </div>
    </div>
</div>
