html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2em 1fr 6em;
    grid-template-areas: "nav" "content" "console";
    grid-gap: 2px;
    background-color: gray;
}

.nav {
    padding: 5px;
    grid-area: nav;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.content {
    padding: 5px;
    grid-area: content;
    background-color: white;
    overflow: hidden;
    display: block;
}

.console {
    grid-area: console;
    background: lightblue;
    overflow: auto;
}

@media screen and (min-width: 500px) {
    .container {
        grid-template-columns: 230px 1fr;
        grid-template-rows: 1fr 6em;
        grid-template-areas: "nav content" "console console";
    }

    .nav {
        flex-direction: column;
    }
}
