<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" bean-discovery-mode="all">
  <scan>
    <exclude name="org.drools.workbench.client.**"/>
    <exclude name="org.drools.workbench.screens.guided.dtable.client.**"/>
    <exclude name="org.drools.workbench.screens.guided.dtree.client.**"/>
    <exclude name="org.drools.workbench.screens.guided.rule.client.**"/>
    <exclude name="org.drools.workbench.screens.guided.scorecard.client.**"/>
    <exclude name="org.drools.workbench.screens.guided.template.client.**"/>
    <exclude name="org.drools.workbench.screens.scorecardxls.client.**"/>
    <exclude name="org.drools.workbench.screens.testscenario.client.**"/>
    <exclude name="org.drools.workbench.screens.workitems.client.**"/>
    <exclude name="org.drools.workbench.screens.categories.client.**"/>
    <exclude name="org.drools.workbench.screens.drltext.client.**"/>
    <exclude name="org.drools.workbench.screens.dtablexls.client.**"/>
    <exclude name="org.drools.workbench.screens.dsltext.client.**"/>
    <exclude name="org.drools.workbench.screens.globals.client.**"/>
    <exclude name="org.drools.workbench.screens.enums.client.**"/>

    <exclude name="org.kie.workbench.common.screens.contributors.client.**"/>
    <exclude name="org.kie.workbench.common.screens.datamodeller.client.**"/>
    <exclude name="org.kie.workbench.common.screens.defaulteditor.client.**"/>
    <exclude name="org.kie.workbench.common.screens.home.client.**"/>
    <exclude name="org.kie.workbench.common.screens.javaeditor.client.**"/>
    <exclude name="org.kie.workbench.common.screens.projecteditor.client.**"/>
    <exclude name="org.kie.workbench.common.screens.explorer.client.**"/>
    <exclude name="org.kie.workbench.common.screens.projectimportsscreen.client.**"/>
    <exclude name="org.kie.workbench.common.screens.search.client.**"/>
    <exclude name="org.kie.workbench.common.screens.server.management.client.**"/>
    <exclude name="org.kie.workbench.common.screens.social.hp.client.**"/>
    <exclude name="org.kie.workbench.common.widgets.client.**"/>
    <exclude name="org.kie.workbench.common.widgets.configresource.client.**"/>
    <exclude name="org.kie.workbench.common.widgets.decoratedgrid.client.**"/>
    <exclude name="org.kie.workbench.common.widgets.metadata.client.**"/>

  </scan>
</beans>
