<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" bean-discovery-mode="all">
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <!-- End of Errai exclusions -->





    <exclude name="org.drools.workbench.client.**"/>
    <exclude name="org.drools.workbench.screens.guided.dtable.client.**"/>
    <exclude name="org.drools.workbench.screens.guided.dtree.client.**"/>
    <exclude name="org.drools.workbench.screens.guided.rule.client.**"/>
    <exclude name="org.drools.workbench.screens.guided.scorecard.client.**"/>
    <exclude name="org.drools.workbench.screens.guided.template.client.**"/>
    <exclude name="org.drools.workbench.screens.scorecardxls.client.**"/>
    <exclude name="org.drools.workbench.screens.testscenario.client.**"/>
    <exclude name="org.drools.workbench.screens.workitems.client.**"/>
    <exclude name="org.drools.workbench.screens.categories.client.**"/>
    <exclude name="org.drools.workbench.screens.drltext.client.**"/>
    <exclude name="org.drools.workbench.screens.dtablexls.client.**"/>
    <exclude name="org.drools.workbench.screens.dsltext.client.**"/>
    <exclude name="org.drools.workbench.screens.globals.client.**"/>
    <exclude name="org.drools.workbench.screens.enums.client.**"/>

    <exclude name="org.jbpm.console.ng.pr.admin.client.**"/>
  </scan>
</beans>
