<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <filter>
    <filter-name>UI Security Filter</filter-name>

    <filter-class>org.picketlink.authentication.web.AuthenticationFilter</filter-class>

    <init-param>
      <param-name>authType</param-name>
      <param-value>org.jboss.errai.security.server.FormAuthenticationScheme</param-value>
    </init-param>
    <init-param>
      <param-name>form-login-page</param-name>
      <param-value>/login.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>host-page</param-name>
      <param-value>/drools-wb.html</param-value>
    </init-param>
    <init-param>
      <param-name>forceReAuthentication</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>UI Security Filter</filter-name>
    <url-pattern>/drools-wb.html</url-pattern>
    <url-pattern>/uf_security_check</url-pattern>
    <url-pattern>*.erraiBus</url-pattern>
    <url-pattern>/org.drools.workbench.DroolsWorkbench/*</url-pattern>
    <url-pattern>/verifier/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>HTTP Basic Auth Filter</filter-name>
    <filter-class>org.picketlink.authentication.web.AuthenticationFilter</filter-class>

    <init-param>
      <param-name>authType</param-name>
      <param-value>org.picketlink.authentication.web.BasicAuthenticationScheme</param-value>
    </init-param>

    <init-param>
      <param-name>realmName</param-name>
      <param-value>Drools Workbench</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>HTTP Basic Auth Filter</filter-name>
    <url-pattern>/rest/*</url-pattern>
    <url-pattern>/maven2/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>Host Page Patch</filter-name>
    <filter-class>org.jboss.errai.security.server.servlet.UserHostPageFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Host Page Patch</filter-name>
    <url-pattern>/drools-wb.html</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>GWT Locale Filter</filter-name>
    <filter-class>org.uberfire.server.locale.GWTLocaleHeaderFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>GWT Locale Filter</filter-name>
    <url-pattern>/drools-wb.html</url-pattern>
  </filter-mapping>

  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/rest</param-value>
  </context-param>

  <!-- Note, this configuration needs to be removed with AS7 deployement -->
  <context-param>
    <param-name>resteasy.injector.factory</param-name>
    <param-value>org.jboss.resteasy.cdi.CdiInjectorFactory</param-value>
  </context-param>

  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>VerifierWebWorkerServlet</servlet-name>
    <servlet-class>org.kie.workbench.common.services.verifier.service.VerifierWebWorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifierWebWorkerServlet</servlet-name>
    <url-pattern>/verifier/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PluginMediaServlet</servlet-name>
    <servlet-class>org.uberfire.ext.plugin.backend.PluginMediaServlet</servlet-class>
    <init-param>
      <param-name>url-pattern</param-name>
      <param-value>/plugins/</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PluginMediaServlet</servlet-name>
    <url-pattern>/plugins/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <!-- NOTE: the integration-test profile uses this web.xml. Integration tests only work properly
with the DefaultBlockingServlet. If you change this setting, make a backup of this web.xml
(perhaps under src/integration-test-settings/web.xml and alter the integration-test
profile in pom.xml to use that. -->
    <servlet-name>ErraiServlet</servlet-name>
    <servlet-class>org.jboss.errai.bus.server.servlet.DefaultBlockingServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>ErraiServlet</servlet-name>
    <url-pattern>*.erraiBus</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DTableXLSFileServlet</servlet-name>
    <servlet-class>org.drools.workbench.screens.dtablexls.backend.server.DecisionTableXLSFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DTableXLSFileServlet</servlet-name>
    <url-pattern>/org.drools.workbench.DroolsWorkbench/dtablexls/file</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ArchiveServlet</servlet-name>
    <servlet-class>org.guvnor.common.services.backend.archive.ArchiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchiveServlet</servlet-name>
    <url-pattern>/org.drools.workbench.DroolsWorkbench/archive</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ScoreCardFileServlet</servlet-name>
    <servlet-class>org.drools.workbench.screens.scorecardxls.backend.server.ScoreCardXLSFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreCardFileServlet</servlet-name>
    <url-pattern>/org.drools.workbench.DroolsWorkbench/scorecardxls/file</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>M2Servlet</servlet-name>
    <servlet-class>org.guvnor.m2repo.backend.server.M2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>M2Servlet</servlet-name>
    <url-pattern>/maven2/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UberfireFileUploadServlet</servlet-name>
    <servlet-class>org.uberfire.server.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UberfireFileUploadServlet</servlet-name>
    <url-pattern>/org.drools.workbench.DroolsWorkbench/defaulteditor/upload/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UberfireFileDownloadServlet</servlet-name>
    <servlet-class>org.uberfire.server.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UberfireFileDownloadServlet</servlet-name>
    <url-pattern>/org.drools.workbench.DroolsWorkbench/defaulteditor/download/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>org.uberfire.backend.server.io.DisposableShutdownService</listener-class>
  </listener>

</web-app>
