.uf-np-popup-name-label {
  margin-right: 5px;
}

.uf-np-popup-name-input {
  width: 150px;
}

.uf-np-popup-style-label {
  margin-right: 5px;
}

.uf-np-popup-style-select {
  width: 150px;
  height: 25px;
}