.uf-cms-expand-icon {
    float: left;
    font-size: larger;
    cursor: pointer;
    margin-right: 5px;
}

.uf-cms-expand-span {
    cursor: pointer;
}

.uf-cms-perspectives-panel {
    height: 300px;
    overflow: auto;
}

.uf-cms-perspectives-maximized {
    height: 600px;
    overflow: auto;
}