/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.sonataflow-management-console-common--brand {
  vertical-align: top;
  height: 28.6px;
}

.brand-name {
  color: #fff;
  padding: 0 var(--pf-v5-global--spacer--sm) 0 var(--pf-v5-global--spacer--sm);
}

.kogito-management-console__card-size {
  height: 100%;
  position: relative;
}

.kogito--global-alert-container {
  top: 30px;
}

.kogito--alert-container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 99999;
}

.kogito--alert-list {
  max-width: 700px;
  min-width: 200px;
  z-index: 999999;
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.kogito--alert-container .pf-v5-c-alert {
  pointer-events: visible;
}

.Dev-ui__card-size,
.Dev-ui__custom-dashboard-viewer > div {
  height: 100%;
}

.app--masthead {
  justify-content: space-between;
  justify-items: end;
  padding-right: 0px;
}
