.data-type-item {
  // TODO {kelvah} write the following better
  span,
  strong {
    user-select: text;
  }
  &__type-label {
    text-transform: capitalize;
  }
  &__type-select {
    &__option,
    .pf-c-select__toggle {
      text-transform: capitalize;
    }
  }
}
