.data-type-item {
  span,
  strong {
    user-select: text;
  }
  &__name {
    font-weight: 700;
    word-break: keep-all;
    display: block;
    margin-top: 5px;
  }
  &__type-label {
    text-transform: capitalize;
    margin-top: var(--pf-global--spacer--xs);
    margin-bottom: var(--pf-global--spacer--xs);
  }
  &__type-select {
    &__option,
    .pf-c-select__toggle {
      text-transform: capitalize;
    }
  }
}
