.kie-dmn-editor--documentation-link-title {
  width: fit-content;
}

.kie-dmn-editor--documentation-link-title > input[disabled] {
  pointer-events: none;
}

.kie-dmn-editor--documentation-link-title--is-link {
  cursor: pointer;
}

.kie-dmn-editor--documentation-link-title--is-link > input {
  color: rgb(0, 102, 204);
  text-decoration: none;
}

.kie-dmn-editor--documentation-link-title--is-link:hover {
  text-decoration: underline;
}
