.kie-dmn-editor--draggable-row {
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.kie-dmn-editor--draggable-row-hovered {
  backdrop-filter: brightness(90%);
}

.kie-dmn-editor--draggable-row-is-dragging {
  opacity: 0;
}

.kie-dmn-editor--draggable-icon {
  margin-top: 4px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 8px;
  cursor: grab;
}

.kie-dmn-editor--draggable-icon:active {
  margin-top: 4px;
  margin-right: 8px;
  cursor: grabbing;
}

.kie-dmn-editor--draggable-icon-handler {
  color: transparent;
}

.kie-dmn-editor--draggable-icon-handler-hovered {
  color: gray;
}

.kie-dmn-editor--draggable-children {
  flex-grow: 1;
}
