/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.kie-dmn-editor--font-options-toggle-group {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.kie-dmn-editor--font-options-toggle-group-item {
  height: 48px;
}

.kie-dmn-editor--font-options-toggle-group-item > button {
  height: 48px;
  width: 50px;
  align-items: center;
}

.kie-dmn-editor--font-options-toggle-group-item > button > span {
  font-size: 16px;
  padding-left: 4px;
}

.kie-dmn-editor--font-options-toggle-group-item-italic > button {
  height: 48px;
  width: 50px;
  align-items: center;
}

.kie-dmn-editor--font-options-toggle-group-item-italic > button > span {
  padding-left: 4px;
  font-size: 16px;
}

.kie-dmn-editor--font-options-toggle-group-item-number-input {
  height: 48px;
}

.kie-dmn-editor--font-options-toggle-group-item-number-input button {
  height: 48px;
}

.kie-dmn-editor--font-options-toggle-group-item-number-input input {
  height: 48px;
}

.kie-dmn-editor--font-options-toggle-group-item-color-picker > button {
  height: 48px;
  width: 50px;
  align-items: center;
}

.kie-dmn-editor--font-options-toggle-group-item-color-picker > button > span {
  font-size: 16px;
}
