.data-type-item {
  &__sortable {
    &--sm-size .editable-item__inner {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }
    &--md-size .editable-item__inner {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }
}

.data-types-sorting > .data-type-item__sortable:hover {
  cursor: grab;
}

body > .data-type-item__sortable:hover {
  cursor: grabbing;
}

.pf-c-droppable {
  --pf-c-droppable--m-dragging--after--BorderColor: none;
  --pf-c-droppable--m-drag-outside--after--BorderColor: none;
}

.pf-c-draggable {
  --pf-c-draggable--m-dragging--after--BorderColor: none;
  --pf-c-draggable--m-drag-outside--after--BorderColor: none;
}
