#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" bean-discovery-mode="all">
  <scan>
    <exclude name="${package}.client.**"/>
    <exclude name="${package}.component.client.**"/>
  </scan>
</beans>
