<div>
    <div data-field="body" class="uf-pdc-selector-body">
        <div class="col-md-3">
            <label data-field="navItemLabel">Page</label>
            <span data-field="selectorHelp">
                <i class="pf pficon-help acl-help-icon" data-toggle="tooltip" data-placement="left"></i>
            </span>
        </div>
        <div class="dropdown col-md-9">
            <button class="btn btn-default dropdown-toggle uf-pdc-selector-button" type="button" data-toggle="dropdown">
                <span data-field="currentSelection"></span>
                <span class="uf-pdc-selector-caret caret" style="margin-left: 10px;"></span>
            </button>
            <ul data-field="selectorItems" class="dropdown-menu uf-pdc-selector-menu" role="menu">
            </ul>
        </div>
    </div>
    <div data-field="footer">
        <button data-field="okButton" type="button" class="btn btn-primary">Ok</button>
        <button data-field="cancelButton" type="button" class="btn btn-default">Cancel</button>
    </div>
</div>
