.selected-row {
  background-color: #dfdfdf !important;
}
[mode="dark"] .selected-row {
  background-color: #393555 !important;
}
[mode="dark"] {
  --pf-global--Color--100: #eef1fa !important;
  --pf-global--Color--200: var(--pf-global--Color--light-200) !important;
  --pf-global--BorderColor--100: var(--pf-global--BorderColor--light-100) !important;
  --pf-global--primary-color--100: var(--pf-global--primary-color--light-100) !important;
  --pf-global--link--Color: var(--pf-global--link--Color--light) !important;
  --pf-global--link--Color--hover: var(--pf-global--link--Color--light) !important;
  --pf-global--BackgroundColor--100: #100c2a !important;
}

[mode="dark"] body,
[mode="dark"] .pf-c-table,
[mode="dark"] .pf-c-input-group,
[mode="dark"] .pf-c-options-menu__menu {
  --pf-global--Color--100: #eef1fa !important;
  --pf-global--Color--200: var(--pf-global--Color--light-200) !important;
  --pf-global--BorderColor--100: var(--pf-global--BorderColor--light-100) !important;
  --pf-global--primary-color--100: var(--pf-global--primary-color--light-100) !important;
  --pf-global--link--Color: var(--pf-global--link--Color--light) !important;
  --pf-global--link--Color--hover: var(--pf-global--link--Color--light) !important;
  --pf-global--BackgroundColor--100: #100c2a !important;
}

[mode="dark"] .pf-c-options-menu__menu {
  background-color: #100c2a !important;
  color: #eef1fa;
}

[mode="dark"] .pf-c-options-menu__menu-item:hover,
[mode="dark"] .pf-c-table tr.pf-m-hoverable:hover {
  background-color: #393555;
  color: #eef1fa;
}

[mode="dark"] .pf-c-form-control {
  --pf-global--Color--100: #eef1fa !important;
  --pf-global--BackgroundColor--100: #100c2a !important;
}
