.no-padding{
}

.innerColumnPadding{
}

.left{
    float: left;
    z-index: 1;
}

.right{
    float: right;
    z-index: 1;
}
.colUp{
    height:5px;
}

.colPreview{
    height: 15px;
    margin-left:5px;
    margin-right:5px;
}
.colDown{
    height:5px;
}
.center{
    display: inline-block;
    width: 90%;
    border: 1px solid lightgray;

}
.centerPreview{
    width: 50% !important;
}
.dropPreview{
    width: 50% !important;
}
.colWithComponents{
    padding-left: 0px;
    padding-right: 0px;
}
.colResizeLeft {
    cursor: w-resize;
}
.colResizeRight {
    cursor: e-resize;
}