<div>
    <div data-field="colWithComponents" class="colWithComponents">
        <div class="col-md-12">
            <div data-field="row" class="row eq-height">
                <div data-field="left" class="left">
                    <button data-field="resize-left" type="button"
                            class="btn  btn-sm btn-link el-resize-button">
                        <i class="fa fa-chevron-left fa-fw"></i>
                    </button>
                </div>
                <div data-field="content" class="center">
                </div>
                <div data-field="right" class="right">
                    <button data-field="resize-right" type="button"
                            class="btn  btn-sm btn-link el-resize-button">
                        <i class="fa fa-chevron-right fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
