<div>
    <div data-field="col">
        <div data-field="row" class="row el-component-row">
            <div class="col-md-12 el-content-area">
                <div data-field="colUp">
                </div>
            </div>
            <div class="col-md-12 eq-height el-content-area">
                <div data-field="left" class="left">
                    <button data-field="resize-left" type="button"
                            class="btn  btn-sm btn-link el-resize-button">
                        <i class="fa fa-chevron-left fa-fw"></i>
                    </button>
                </div>
                <div draggable="true" data-field="content" class="center el-content"></div>
                <div data-field="right" class="right">
                    <button data-field="resize-right" type="button"
                            class="btn  btn-sm btn-link el-resize-button">
                        <i class="fa fa-chevron-right fa-fw"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-12 el-content-area">
                <div data-field="colDown">

                </div>
            </div>
        </div>
    </div>
</div>
