<div>
    <div data-field="col">
        <div data-field="row" class="row">
            <div data-field="topPanel" class="col-md-12">
                <div>
                    <div data-field="buttonsPanel" class="col-md-12 buttonsPanel">
                        <button type="button" draggable="true" data-field="move" class="btn btn-xs btn-primary">
                            <i class="fa fa-arrows"></i>
                        </button>
                        <button type="button" data-field="edit" class="btn btn-xs btn-primary">
                            <i class=" glyphicon glyphicon-edit"></i>
                        </button>
                        <button data-field="remove" type="button" class="btn btn-xs btn-danger" style="margin-right: 3px;">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div data-field="colUp">
                </div>
            </div>
            <div class="col-md-12 eq-height">
                <div data-field="left" class="left"></div>
                <div data-field="content" class="center"></div>
                <div data-field="right" class="right"></div>
            </div>
            <div class="col-md-12">
                <div data-field="colDown">

                </div>
            </div>
        </div>
    </div>
</div>
