<div data-field="col">
    <div data-field="row" class="row el-component-row">
        <div class="col-md-12 el-content-area">
            <div data-field="colUp">
            </div>
        </div>
        <div data-field="content-area" class="col-md-12 eq-height el-content-area">
            <div data-field="left" class="left">
            </div>
            <div draggable="true" data-field="content" class="center el-content"></div>
            <div data-field="right" class="right">
            </div>
        </div>
        <div class="col-md-12 el-content-area">
            <div data-field="colDown">

            </div>
        </div>
    </div>
</div>
