.no-padding{
    padding:0px !important;
}

.eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.innerColumnPadding{
}

.left{
    float: left;
    width: 5%;
}

.right{
    float: right;
    width: 5%;
}
.colUp{
    height:5px;
}

.componentDropInColumnPreview{
    height: 15px;
    margin-left:5px;
    margin-right:5px;

    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */


}
.colDown{
    height:5px;
}
.center{
    display: inline-block;
    width: 90%;
    border: 1px solid lightgray;

}
.centerPreview{
    width: 50% !important;
}
.dropPreview{
    width: 50% !important;
    /* column drop gradient*/
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.columnDropPreview{
    /*border: 1px dashed lightgray;*/
    z-index: 1;
}

.buttonsPanel{
    text-align: right;
}