/** Add css rules here for your application. */

body {
    background: url("images/bg_blue.png") repeat-x scroll 0 0 #F3F3F3;
    color: #555555;
    font: 12px/1.4 "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

a {
    cursor: pointer;
}

#container {
    max-width: 1074px;
    background: #BEBEBE;
    border-right: 1px solid #A7ABB4!important;
    border-left: 1px solid #A7ABB4!important;
    margin:0 auto;
}

#mainpanel {
    background: white;
    height: 100%;
    width: 100%;
}

#gadget-web-tabs {
    overflow: auto;
}

#gadget-store-list{
    overflow:auto;
}

.header-panel {
    min-height:70px;
    height:70px;
    width:100%;
    background: white url(images/overlord_logo.png) no-repeat;
}

.header-link {
    text-decoration:none;
    color:#2E6E9E;
    font-weight: bold;
    text-align:right;
    padding-right:10px;
    cursor:pointer;
    vertical-align:right;
}

.header-link:hover {
    text-decoration:underline;
}

.footer-panel {
    min-height:25px;
    height:25px;
    width:100%;
    background: #2B5D88;
}

.footer-link {
    text-decoration:none;
    color:#ffffff;
    text-align:right;
    padding-right:10px;
    cursor:pointer;
    vertical-align:right;
}

.footer-link:hover {
    text-decoration:underline;
}

.userinfo {
    background: url(images/user.png) no-repeat;
    text-indent: 22px;
}

.red-error {color:red}


/** css for the portal and portlet */
.portal {width:100%; background: white;}
.column {float: left; padding-bottom: 100px;}

.portlet { margin: 0 1em 1em 0;}
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em;}
.portlet-header .ui-icon { float: left; cursor:pointer;}
.portlet-header .portlet-min {}
.portlet-header .portlet-max {float:right;}
.portlet-header .portlet-setting {float:right;}
.portlet-header .portlet-close {float:right;}
.portlet-header .portlet-restore {float:right;}
.portlet-content { padding: 0.4em;}
.ui-sortable-placeholder { border: 1px dashed black; visibility: visible !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.portlet-menu {display:none;}

.portlet-iframe {}

.portlet-canvas {position:absolute;width:95%; height:90%; z-index:1000;left: 10px;top:50px}

.portlet-preference {border-bottom: 1px solid grey}

/** css for the Tab */
li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }

/** css for widget store */

.gadget-item {
    width: 90%;
    padding: 0 0 25px 25px;
    margin-bottom: 5px;
    margin-left:25px;
    border-bottom: 1px solid #2E6E9E;
}

.gadget-item:hover{
    background:#D5E2E3;
}

.gadget img {
    border: 1px solid #2E6E9E;
}

.gadget-name {
    color: #15c;
    font-weight: bold;
    font-size: 110%;
}

.gadget-add-btn {
    border: 1px solid #2E6E9E;
    background: white;
    cursor: pointer;
}

.gadget {
    float:left;
    text-algin:center;
}

.gadget-info {
    margin-left:132px;
}

.gadget-info p {
    margin-bottom: 5px;
    overflow:hidden;
}

.author-panel {
    font-size: 11px !important;
    margin-bottom: 5px;
}

.storeItemInfo{width:90%; background:#2E6E9E; color: white; margin: 5px 5px 10px 25px;}

