<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Thora</title>

    <style type="text/css">

        ul.inline,
        ol.inline {
          margin-left: 0;
          list-style: none;
        }

        ul.inline > li,
        ol.inline > li {
          display: inline-block;
          *display: inline;
          padding-right: 5px;
          padding-left: 5px;
          *zoom: 1;
        }

        .search_form input[type=text] {
            width: 150px;
            -moz-transition: all .2s linear;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }

        .search_form input[type=text]:focus {
            width: 300px;
        }

        .mini-list {
            width: 99%;
            padding: 1px;
            text-align: left;
            white-space: normal;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
        }

        .uf-box {
            width: 99.5%;
            padding: 1px;
            text-align: left;
            white-space: normal;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
        }

        .uf-box-fixed {
            width: 99.5%;
            padding: 1px;
            text-align: left;
            white-space: normal;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -webkit-border-top-left-radius: 6px;
            -webkit-border-top-right-radius: 6px;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-topright: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
        }

        .uf-box-fixed-2 {
            width: 99.5%;
            padding: 1px;
            text-align: left;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -webkit-border-top-left-radius: 6px;
            -webkit-border-top-right-radius: 6px;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-topright: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
        }

        .tree-browser {
            width: 100%;
            margin: 0;
            border-bottom: 1px solid #cacaca;
            border-left: none;
            border-right: none;
        }

        .tree-browser td {
            background: #f8f8f8;
            border-bottom: 1px solid #eee;
            padding: 7px 3px;
            color: #484848;
            vertical-align: middle;
            white-space: nowrap;
        }

        .tree-browser td.icon {
            width: 17px;
            padding-right: 2px;
            padding-left: 10px;
        }

        .tree-browser td:first-child {
            border-left: 0px;
        }

        .tree-browser .message {
            max-width: 420px;
        }

        .sha-block, .sha {
            color: #888;
            font-size: 11px;
            font-family: Monaco, "Liberation Mono", Courier, monospace;
        }

        .sha {
            color: #444;
        }

        .blob-line-nums a, .blob-line-nums span {
            display: block;
            line-height: 18px;
            color: inherit;
            padding: 0 8px;
        }

        .blob-line-code {
            border-bottom-color: rgb(51, 51, 51);
            border-collapse: separate;
            border-left-color: rgb(51, 51, 51);
            border-right-color: rgb(51, 51, 51);
            border-top-color: rgb(51, 51, 51);
            color: rgb(51, 51, 51);
            display: table-cell;
            font-family: Helvetica, arial, freesans, clean, sans-serif;
            font-size: 13px;
            line-height: 18px;
            vertical-align: middle;
        }

        .blob-line-code .highlight {
            padding-top: 5px;
            padding-bottom: 5px;
            white-space: nowrap;
            line-height: 18px;
        }

        .blob-line-code .line {
            padding-left: 10px;
        }

        .blob-line-code .highlight .line {
            border-bottom-color: rgb(51, 51, 51);
            border-collapse: separate;
            border-left-color: rgb(51, 51, 51);
            border-right-color: rgb(51, 51, 51);
            border-top-color: rgb(51, 51, 51);
            color: rgb(51, 51, 51);
            display: block;
            font-family: Consolas, 'Liberation Mono', Courier, monospace;
            font-size: 12px;
            line-height: 18px;
            padding-left: 10px;
        }

        .meta {
            background-color: rgb(234, 234, 234);
            background-image: linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234));
            background-repeat: repeat-x;
            border-bottom-color: rgb(216, 216, 216);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-left-color: rgb(85, 85, 85);
            border-right-color: rgb(85, 85, 85);
            border-top-color: rgb(85, 85, 85);
            color: rgb(85, 85, 85);
            display: block;
            font-family: Helvetica, arial, freesans, clean, sans-serif;
            font-size: 12px;
            line-height: 16px;
            overflow-x: hidden;
            overflow-y: hidden;
            padding-bottom: 0;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            text-align: left;
            text-shadow: rgb(255, 255, 255) 0px 1px 0px;
        }

        .file-code {
            background-color: rgb(255, 255, 255);
            border-bottom-color: rgb(51, 51, 51);
            border-collapse: separate;
            border-left-color: rgb(51, 51, 51);
            border-right-color: rgb(51, 51, 51);
            border-top-color: rgb(51, 51, 51);
            color: rgb(51, 51, 51);
            font-family: Helvetica, arial, freesans, clean, sans-serif;
            font-size: 13px;
            line-height: 18px;
        }

        .file-code tbody {
            border-bottom-color: rgb(51, 51, 51);
            border-collapse: separate;
            border-left-color: rgb(51, 51, 51);
            border-right-color: rgb(51, 51, 51);
            border-top-color: rgb(51, 51, 51);
            color: rgb(51, 51, 51);
            display: table-row-group;
            font-family: Helvetica, arial, freesans, clean, sans-serif;
            font-size: 13px;
            line-height: 18px;
            vertical-align: middle;
        }

        .file-code-line {
            border-bottom-color: rgb(51, 51, 51);
            border-collapse: separate;
            border-left-color: rgb(51, 51, 51);
            border-right-color: rgb(51, 51, 51);
            border-top-color: rgb(51, 51, 51);
            color: rgb(51, 51, 51);
            display: table-row;
            font-family: Helvetica, arial, freesans, clean, sans-serif;
            font-size: 13px;
            line-height: 18px;
            vertical-align: middle;
        }

        .blob-line-nums {
            border-bottom-color: rgba(0, 0, 0, 0.298039);
            border-collapse: separate;
            border-left-color: rgba(0, 0, 0, 0.298039);
            border-right-color: rgb(229, 229, 229);
            border-right-style: solid;
            border-right-width: 1px;
            border-top-color: rgba(0, 0, 0, 0.298039);
            color: rgba(0, 0, 0, 0.298039);
            display: table-cell;
            font-family: Consolas, 'Liberation Mono', Courier, monospace;
            font-size: 13px;
            line-height: 13px;
            padding-bottom: 5px;
            padding-top: 5px;
            text-align: right;
            vertical-align: top;
            width: 37px;
        }

        .breadcrumb {
            font-size:18px;
        }

    </style>

    <!-- styles -->
    <link href="css/uberfire-workbench.css" rel="stylesheet" >
</head>
<body>
<iframe id="__gwt_historyFrame" style="width: 0; height: 0; border: 0"></iframe>
<script type="text/javascript">
  var current_user = { "name":"@{name}", "roles":[@{roles}], "properties":{@{properties}} }
</script>
<!--add loading indicator while the app is being loaded-->
<div id="loading">
    <div class="loading-indicator">
        <img src="images/loading-icon.gif" width="32" height="32" style="margin-right: 8px; float: left; vertical-align: top;"/>
        Please wait<br/><span id="loading-msg">Loading application...</span>
    </div>
</div>

<!-- The GWT js file generated at run time -->
<script type="text/javascript" src='org.uberfire.UberThora.nocache.js'></script>

<script src="../js/ZeroClipboard.min.js"></script>
<script type="text/javascript">
    ZeroClipboard.setDefaults( {
      moviePath: "../swf/ZeroClipboard.swf",
      trustedDomains: ['*'],
      allowScriptAccess: "always" })
</script>


<script src="ace/require.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/ace.js" type="text/javascript" charset="utf-8"></script>
<!-- Get .js files for any needed ACE modes and themes -->
<script src="ace/theme-github.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/theme-chrome.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-asciidoc.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-c9search.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-c_cpp.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-clojure.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-coffee.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-coldfusion.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-csharp.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-css.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-diff.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-glsl.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-golang.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-groovy.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-haxe.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-html.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-jade.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-java.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-json.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-jsp.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-jsx.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-latex.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-less.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-liquid.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-lua.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-luapage.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-markdown.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-ocaml.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-perl.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-pgsql.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-php.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-powershell.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-python.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-ruby.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-scad.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-scala.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-scss.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-sh.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-sql.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-svg.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-tcl.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-text.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-textile.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-typescript.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-xml.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-xquery.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/mode-yaml.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
