.nameEditBoxTable {
    min-height: 20px;
    min-width: 80px;
    display: table;
    border: 2px solid #5f9ea0;
    padding: 3px;
    background-color: white;
}

.nameEditBoxRow {
    display: table-row;
}

.nameEditButtonsRow{
    display: table-row;
    float: right;
    margin-top: 3px;
}

.nameEditBoxCell {
    display: table-cell;
}

.nameEditBoxNameBox {
    border: 1px solid grey;
}

.nameEditBoxButton {
    background-color: white;
    padding: 2px;
    color: black;
    margin-left: 5px;
    cursor: pointer;
}

textarea.nameEditBoxNameBox{
    min-height:50px;
    min-width:180px;
}