/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.kogito-process-details--details__title small {
  --pf-c-content--small--Color: var(--pf-global--Color--100) !important;
}
.kogito-process-details--details__buttonMargin {
  margin-right: var(--pf-global--spacer--md) !important;
}
.kogito-process-details--details__marginSpaces {
  margin-top: 20px;
}
.kogito-process-details--NodeTrigger-cardHeight {
  height: 494px;
}
.kogito-process-details--variables__label-fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.kogito-process-details--variables__label-fadeIn {
  opacity: 1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.kogito-process-details--milestones__nameText > blockquote {
  padding: 0px !important;
  border-left: 0px !important;
}

.kogito-process-details--milestones__nameTextEllipses {
  display: inline-block;
  white-space: nowrap;
  width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 5px;
  word-break: break-all;
}
@media only screen and (max-width: 1710px) {
  .kogito-process-details--milestones__nameTextEllipses {
    display: inline-block;
    white-space: nowrap;
    width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 5px;
    word-break: break-all;
  }
}
.kogito-process-details__card-size {
  height: 100%;
}
/* This adds the line extending the length of the timeline, while the items are pushed left to overlap it halfway. The first child is pushed up to hide the top of the dashed line. The status icon must be given a background so that the line doesn't show through the icon. */
.kogito-process-details--timeline {
  border-left: var(--pf-global--BorderWidth--md) dashed var(--pf-global--BorderColor--300);
  margin-left: var(--pf-global--spacer--sm);
  margin-top: var(--pf-global--spacer--sm);
}
.kogito-process-details--timeline-item {
  background-color: transparent;
  margin-left: calc(-1 * var(--pf-global--spacer--sm));
}
.kogito-process-details--timeline-item:first-child {
  margin-top: calc(-1 * var(--pf-global--spacer--sm));
}
.kogito-process-details--timeline-status {
  background-color: var(--pf-global--BackgroundColor--100);
  margin-left: calc(-1 * var(--pf-global--spacer--sm));
}
