@CHARSET "UTF-8";

.container {
    padding: 0px;
    padding: 0px;
}

.parameter {
    width: 25px;
    margin-right: 1px;
    font-size: smaller;
}

.oddRow {
    background-color: #f2ffff;
}

.evenRow {
    background-color: #d2efff;
}
