<div data-field="mainDiv">
    <div data-field="tabsDiv">
        <ul class="nav nav-tabs nav-tabs-pf">
            <li data-field="designTab" class="active" style="margin-left: 10px"><a href="#" data-field="designAnchor">Editor!</a></li>
            <li data-field="previewTab"><a href="#" data-field="previewAnchor">Preview!</a></li>
        </ul>
    </div>
    <div data-field="designDiv" class="le-design-container">
        <div class="container-fluid el-container">
            <div class="row le-full-height">
                <div data-field="container" class="col-md-12 le-full-height">

                </div>
            </div>
        </div>
    </div>
    <div data-field="previewDiv" class="le-preview-container">

    </div>
</div>

