<div class="le-main-container">
    <div>
        <ul class="nav nav-tabs nav-tabs-pf">
            <li data-field="designTab" class="active"><a href="#" data-field="designAnchor">Design!</a></li>
            <li data-field="previewTab"><a href="#" data-field="previewAnchor">Preview!</a></li>
        </ul>
    </div>
    <div data-field="designDiv" class="le-design-container">
        <div class="el-sidebar">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span data-field="componentsLabel">Components!</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="panel-group" data-field="components">

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid el-container">
            <div class="row le-full-height">
                <div data-field="container" class="col-md-12 le-full-height">

                </div>
            </div>
        </div>
    </div>
    <div data-field="previewDiv" class="le-preview-container">

    </div>
</div>

