<div class="le-default">

    <div class="el-sidebar">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Components</h3>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion-markup" data-field="components">

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid el-container">
        <div class="row le-full-height">

            <div data-field="container" class="col-md-12 le-full-height">

            </div>

        </div>
    </div>

</div>