.el-container{
    height: 100%;
    padding: 0px 5px 0px 0px;
}

.le-component {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;

    border: 0px !important;
}

.le-heading {
    border: 1px !important;
    border-style: solid !important;
    border-color: #dddddd !important;

    /*remove gradient*/
    background: white !important;

    -webkit-box-shadow: 2px 4px 6px 1px rgba(211, 211, 211, 0.25) !important;
    -moz-box-shadow: 2px 4px 6px 1px rgba(211, 211, 211, 0.25) !important;;
    box-shadow: 2px 4px 6px 1px rgba(211, 211, 211, 0.25) !important;;
}

.le-title {
    font-family: "Open Sans";
    font-size: 12px;
}

.le-icon {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.le-dndcomponent {

    background-color: rgba(204, 204, 204, 0.1);

    height: 35px;

    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    border: 1px solid #dddddd !important;

    -webkit-box-shadow: 2px 4px 6px 1px rgba(211, 211, 211, 0.25) !important;
    -moz-box-shadow: 2px 4px 6px 1px rgba(211, 211, 211, 0.25) !important;
    box-shadow: 2px 4px 6px 1px rgba(211, 211, 211, 0.25) !important;

    cursor: move;
}
.le-dndcomponent-selected{
    box-shadow: 0 0 5px #b1caf2 !important;
    border: 1px solid #b1caf2 !important;
}

.le-dndcomponent-inner {
    /* align middle without need for table */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.le-design-fluid {
    min-height: 100%;
}

.le-design-page {
    height: 100%;
}

.le-design-container {
    padding: 16px;
    background: linear-gradient(#f6f6f6 18px, transparent 18px) 0 -2px, linear-gradient(90deg, #f6f6f6 18px, transparent 0px) -2px 0;
    background-color: #bbbbbb;
    background-size: 20px 20px;
}

.le-preview-container {
    padding: 16px;
    height: 100%;
}

.le-empty {
    text-align: center;
    background-color: rgba(244, 244, 244, 1);

    padding-top: 75px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
}

.le-empty-border {
    border: 1px solid rgba(244, 244, 244, 1);
}

.le-empty-preview-drop {
    border: 1px solid #b1caf2 !important;

}
.le-empty-inner-preview-drop{
    opacity: 0.1;
}

.le-empty-icon {
    font-size: 57.6px;
    color: #9c9c9c;
    line-height: 57.6px;
}


.le-kebab {
    width: 10px;
    float: right;
    z-index: 10;
}

.le-kebab-dropdown {
}

.le-kebab-button {
    color: #878787 !important;
}

.le-widget {
    cursor: default;
}

.le-full-height{
    height:100%;
}