<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group" data-field="new-template-name-form">
                <label class="control-label" data-field="new-template-name-label" data-i18n-key="Name"></label>
                <input type="text" class="form-control" placeholder="Template Name" data-field="new-template-name-textbox">
                <span data-field="new-template-name-help" class="help-block" style="visibility: hidden;"></span>
            </div>
            <div class="form-group" data-field="capability-checkbox-form">
                <label style="" data-i18n-key="Capabilities"></label>
                <div class="col-md-12">
                    <div class="checkbox" data-field="new-rule-capability-checkbox">

                    </div>
                    <div class="checkbox" data-field="new-process-capability-checkbox">

                    </div>
                    <div class="checkbox" data-field="new-planning-capability-checkbox">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>