/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.kie-scesim-editor--side-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  border-left: 1px solid #d2d2d2;
  background-color: var(--pf-global--BackgroundColor--100);
}

.kie-scesim-editor--side-bar .pf-c-button {
  margin-bottom: 10px;
}

.kie-scesim-editor-side-bar-menu--button {
  display: inline-block;
  --pf-c-button--m-plain--Color: #06c;
  --pf-c-button--m-plain--hover--Color: #06c;
}

.kie-scesim-editor-side-bar-menu--button-selected {
  background-color: #06c;
  display: inline-block;
  --pf-c-button--m-plain--BackgroundColor: #06c;
  --pf-c-button--m-plain--Color: #fff;
  --pf-c-button--m-plain--focus--BackgroundColor: #06c;
  --pf-c-button--m-plain--focus--Color: #fff;
  --pf-c-button--m-plain--hover--BackgroundColor: #06c;
  --pf-c-button--m-plain--hover--Color: #fff;
}
