## KIE TOOLS PRODUCT BUILD PARAMETERS

DOCKER_BUILDKIT_var=DOCKER_BUILDKIT
## Needed after https://github.com/kiegroup/kie-tools/pull/1603
DOCKER_BUILDKIT="1" 
DISPLAY_var=DISPLAY
## For IT tests
DISPLAY=":99.0"
START_SERVER_AND_TEST_INSECURE_var=START_SERVER_AND_TEST_INSECURE
## For IT tests
START_SERVER_AND_TEST_INSECURE="true"
NODE_OPTIONS_var=NODE_OPTIONS 
## More memory never hurts :) Just kidding, that's what we use on our GitHub Actions workflows.
NODE_OPTIONS="--max_old_space_size=4096" 

KIE_TOOLS_BUILD__runLinters_var=KIE_TOOLS_BUILD__runLinters
KIE_TOOLS_BUILD__runLinters="true"
KIE_TOOLS_BUILD__runTests_var=KIE_TOOLS_BUILD__runTests
KIE_TOOLS_BUILD__runTests="true"
KIE_TOOLS_BUILD__runIntegrationTests_var=KIE_TOOLS_BUILD__runIntegrationTests
KIE_TOOLS_BUILD__runIntegrationTests="true"
KIE_TOOLS_BUILD__buildContainerImages_var=KIE_TOOLS_BUILD__buildContainerImages
KIE_TOOLS_BUILD__buildContainerImages="true"
KIE_TOOLS_BUILD__buildExamples_var=KIE_TOOLS_BUILD__buildExamples
KIE_TOOLS_BUILD__buildExamples="false"
KIE_TOOLS_BUILD__ignoreTestFailures_var=KIE_TOOLS_BUILD__ignoreTestFailures
KIE_TOOLS_BUILD__ignoreTestFailures="true"
KIE_TOOLS_BUILD__ignoreIntegrationTestFailures_var=KIE_TOOLS_BUILD__ignoreIntegrationTestFailures
KIE_TOOLS_BUILD__ignoreIntegrationTestFailures="true"

CORS_PROXY__imageRegistry_var=CORS_PROXY__imageRegistry
CORS_PROXY__imageRegistry="docker-na.artifactory.swg-devops.com"
CORS_PROXY__imageAccount_var=CORS_PROXY__imageAccount
CORS_PROXY__imageAccount="hyc-bamoe-team-docker-local"
CORS_PROXY__imageName_var=CORS_PROXY__imageName
CORS_PROXY__imageName="cors-proxy-image"
CORS_PROXY__imageBuildTags_var=CORS_PROXY__imageBuildTags

EXTENDED_SERVICES__kieSandboxUrl_var=EXTENDED_SERVICES__kieSandboxUrl
## We don't expect people will be running extended services locally, so whatever.
EXTENDED_SERVICES__kieSandboxUrl="https://sandbox.kie.org" 
EXTENDED_SERVICES__version_var=EXTENDED_SERVICES__version
EXTENDED_SERVICES__ip_var=EXTENDED_SERVICES__ip
EXTENDED_SERVICES__ip="0.0.0.0"
EXTENDED_SERVICES__port_var=EXTENDED_SERVICES__port
EXTENDED_SERVICES__port="21345"

KIE_SANDBOX_DISTRIBUTION__corsProxyImageRegistry_var=KIE_SANDBOX_DISTRIBUTION__corsProxyImageRegistry 
KIE_SANDBOX_DISTRIBUTION__corsProxyImageRegistry="docker-na.artifactory.swg-devops.com"
KIE_SANDBOX_DISTRIBUTION__corsProxyImageAccount_var=KIE_SANDBOX_DISTRIBUTION__corsProxyImageAccount
KIE_SANDBOX_DISTRIBUTION__corsProxyImageAccount="hyc-bamoe-team-docker-local"
KIE_SANDBOX_DISTRIBUTION__corsProxyImageName_var=KIE_SANDBOX_DISTRIBUTION__corsProxyImageName
KIE_SANDBOX_DISTRIBUTION__corsProxyImageName="cors-proxy-image"
KIE_SANDBOX_DISTRIBUTION__corsProxyImageTag_var=KIE_SANDBOX_DISTRIBUTION__corsProxyImageTag
KIE_SANDBOX_DISTRIBUTION__corsProxyPort_var=KIE_SANDBOX_DISTRIBUTION__corsProxyPort
KIE_SANDBOX_DISTRIBUTION__corsProxyPort="7081"

KIE_SANDBOX_DISTRIBUTION__extendedServicesImageRegistry_var=KIE_SANDBOX_DISTRIBUTION__extendedServicesImageRegistry
KIE_SANDBOX_DISTRIBUTION__extendedServicesImageRegistry="docker-na.artifactory.swg-devops.com"
KIE_SANDBOX_DISTRIBUTION__extendedServicesImageAccount_var=KIE_SANDBOX_DISTRIBUTION__extendedServicesImageAccount
KIE_SANDBOX_DISTRIBUTION__extendedServicesImageAccount="hyc-bamoe-team-docker-local"
KIE_SANDBOX_DISTRIBUTION__extendedServicesImageName_var=KIE_SANDBOX_DISTRIBUTION__extendedServicesImageName=
KIE_SANDBOX_DISTRIBUTION__extendedServicesImageName="extended-services-image"
KIE_SANDBOX_DISTRIBUTION__extendedServicesImageTag_var=KIE_SANDBOX_DISTRIBUTION__extendedServicesImageTag
KIE_SANDBOX_DISTRIBUTION__extendedServicesPort_var=KIE_SANDBOX_DISTRIBUTION__extendedServicesPort
KIE_SANDBOX_DISTRIBUTION__extendedServicesPort="21345"

KIE_SANDBOX_DISTRIBUTION__kieSandboxImageRegistry_var=KIE_SANDBOX_DISTRIBUTION__kieSandboxImageRegistry 
KIE_SANDBOX_DISTRIBUTION__kieSandboxImageRegistry="docker-na.artifactory.swg-devops.com"
KIE_SANDBOX_DISTRIBUTION__kieSandboxImageAccount_var=KIE_SANDBOX_DISTRIBUTION__kieSandboxImageAccount 
KIE_SANDBOX_DISTRIBUTION__kieSandboxImageAccount="hyc-bamoe-team-docker-local"
KIE_SANDBOX_DISTRIBUTION__kieSandboxImageName_var=KIE_SANDBOX_DISTRIBUTION__kieSandboxImageName 
KIE_SANDBOX_DISTRIBUTION__kieSandboxImageName="kie-sandbox-image"
KIE_SANDBOX_DISTRIBUTION__kieSandboxImageTag_var=KIE_SANDBOX_DISTRIBUTION__kieSandboxImageTag
KIE_SANDBOX_DISTRIBUTION__kieSandboxPort_var=KIE_SANDBOX_DISTRIBUTION__kieSandboxPort 
KIE_SANDBOX_DISTRIBUTION__kieSandboxPort="9090"

KIE_SANDBOX_EXTENDED_SERVICES__imageAccount_var=KIE_SANDBOX_EXTENDED_SERVICES__imageAccount
KIE_SANDBOX_EXTENDED_SERVICES__imageBuildTags_var=KIE_SANDBOX_EXTENDED_SERVICES__imageBuildTags
KIE_SANDBOX_EXTENDED_SERVICES__imageAccount="hyc-bamoe-team-docker-local"
KIE_SANDBOX_EXTENDED_SERVICES__imageName_var=KIE_SANDBOX_EXTENDED_SERVICES__imageName
KIE_SANDBOX_EXTENDED_SERVICES__imageName="extended-services-image"
KIE_SANDBOX_EXTENDED_SERVICES__imageRegistry_var=KIE_SANDBOX_EXTENDED_SERVICES__imageRegistry
KIE_SANDBOX_EXTENDED_SERVICES__imageRegistry="docker-na.artifactory.swg-devops.com"

KIE_SANDBOX__imageRegistry_var=KIE_SANDBOX__imageRegistry
KIE_SANDBOX__imageRegistry="docker-na.artifactory.swg-devops.com"
KIE_SANDBOX__imageAccount_var=KIE_SANDBOX__imageAccount
KIE_SANDBOX__imageAccount="hyc-bamoe-team-docker-local"
KIE_SANDBOX__imageBuildTags_var=KIE_SANDBOX__imageBuildTags
KIE_SANDBOX__imageName_var=KIE_SANDBOX__imageName 
KIE_SANDBOX__imageName="kie-sandbox-image"

ONLINE_EDITOR__appName_var=ONLINE_EDITOR__appName
ONLINE_EDITOR__appName="BAMOE Canvas"
ONLINE_EDITOR__buildInfo_var=ONLINE_EDITOR__buildInfo
ONLINE_EDITOR__buildInfo_sha_label="- SHA (internal):"
ONLINE_EDITOR__corsProxyUrl_var=ONLINE_EDITOR__corsProxyUrl
ONLINE_EDITOR__corsProxyUrl="CORS_PROXY_URL_NOT_SET_ON_PURPOSE"
ONLINE_EDITOR__customCommitMessageValidationServiceUrl_var=ONLINE_EDITOR__customCommitMessageValidationServiceUrl
ONLINE_EDITOR__customCommitMessageValidationServiceUrl=""
ONLINE_EDITOR__dmnDevDeploymentBaseImageRegistry_var=ONLINE_EDITOR__dmnDevDeploymentBaseImageRegistry
ONLINE_EDITOR__dmnDevDeploymentBaseImageRegistry="quay.io"
ONLINE_EDITOR__dmnDevDeploymentBaseImageAccount_var=ONLINE_EDITOR__dmnDevDeploymentBaseImageAccount
ONLINE_EDITOR__dmnDevDeploymentBaseImageAccount="kie-tools"
ONLINE_EDITOR__dmnDevDeploymentBaseImageName_var=ONLINE_EDITOR__dmnDevDeploymentBaseImageName
ONLINE_EDITOR__dmnDevDeploymentBaseImageName="dmn-dev-deployment-base-image"
ONLINE_EDITOR__dmnDevDeploymentBaseImageTag_var=ONLINE_EDITOR__dmnDevDeploymentBaseImageTag
ONLINE_EDITOR__dmnDevDeploymentBaseImagePullPolicy_var=ONLINE_EDITOR__dmnDevDeploymentBaseImagePullPolicy
ONLINE_EDITOR__dmnDevDeploymentBaseImagePullPolicy="Always"
ONLINE_EDITOR__extendedServicesCompatibleVersion_var=ONLINE_EDITOR__extendedServicesCompatibleVersion
ONLINE_EDITOR__extendedServicesDownloadUrlLinux_var=ONLINE_EDITOR__extendedServicesDownloadUrlLinux
## Won't work, as we're not including it in the final image, but that's fine, since customers won't be using local Extended Services.
ONLINE_EDITOR__extendedServicesDownloadUrlLinux="downloads/extended_services_linux_0.0.0.tar.gz"
## Won't work, as we're not including it in the final image, but that's fine, since customers won't be using local Extended Services.
ONLINE_EDITOR__extendedServicesDownloadUrlMacOs_var=ONLINE_EDITOR__extendedServicesDownloadUrlMacOs
ONLINE_EDITOR__extendedServicesDownloadUrlMacOs="downloads/extended_services_macos_0.0.0.dmg"
ONLINE_EDITOR__extendedServicesDownloadUrlWindows_var=ONLINE_EDITOR__extendedServicesDownloadUrlWindows
## Won't work, as we're not including it in the final image, but that's fine, since customers won't be using local Extended Services.
ONLINE_EDITOR__extendedServicesDownloadUrlWindows="downloads/extended_services_windows_0.0.0.exe"
ONLINE_EDITOR__extendedServicesUrl_var=ONLINE_EDITOR__extendedServicesUrl
ONLINE_EDITOR__extendedServicesUrl="EXTENDED_SERVICE_URL_NOT_SET_ON_PURPOSE"
ONLINE_EDITOR__gtmId_var=ONLINE_EDITOR__gtmId
## Very important! We don't want to enable Google Analytics on the product.
ONLINE_EDITOR__gtmId=""
ONLINE_EDITOR__requireCustomCommitMessage_var=ONLINE_EDITOR__requireCustomCommitMessage
ONLINE_EDITOR__requireCustomCommitMessage="true"

## PNPM build parameters
PNPM__package_filters="-F @kie-tools/cors-proxy-image... -F @kie-tools/kie-sandbox-image... -F @kie-tools/kie-sandbox-extended-services-image..."
PNPM__additional_parameters="--workspace-concurrency=1"