/target
/local
/repositories
/src/main/gwt-unitCache/
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/lib/
/src/main/webapp/org.drools.workbench.DroolsWorkbench/

# Eclipse, Netbeans and IntelliJ files
/.*
/**/.*
!.gitignore
/nbproject
*.ipr
*.iws
*.iml

# Repository wide ignore mac DS_Store files
.DS_Store

# Copied during build from kie-wb-common-dmn-webapp-kogito-marshaller
/src/main/webapp/model/DC.js
/src/main/webapp/model/DI.js
/src/main/webapp/model/DMN12.js
/src/main/webapp/model/DMNDI12.js
/src/main/webapp/model/KIE.js
/src/main/webapp/model/Jsonix-all.js
/src/main/webapp/model/MainJs.js
/src/main/webapp/model/FormatterJs.js
