.bs3-icon-renderer-svg-content {
    text-align: center;
    position: relative;
}

.bs3-icon-svg-position {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}