.uf-breadcrumb {
    margin-left: 20px;
}

.breadcrumbs-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    border-bottom:1px solid #ddd;

    height: 35px;
    width: 100%;
}

.breadcrumbs {
    width: 50%;
}

.breadcrumbs-toolbar {
    width: 50%;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
}
.breadcrumbs-toolbar-content{
    margin-right: 20px;
}