.sideDockItem {
    padding: 5px 5px !important;
    width: 16px;
    height: 20px;
}

.singleDockItem {
    height: 100%;
    width: 17px;
    display: table;
    background-image: linear-gradient(to bottom,#E6E6E6, #FFF) !important;
}

.singleDockItemIcon {
    display: table-cell !important;
    vertical-align: middle;
}

.hideElement {
    display: none;
}

.gradientTopBottom {
    -moz-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    background: rgb(245, 245, 245) linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230)) repeat-x;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border: 1px solid rgba(0, 0, 0, 0.0980392);
    border-top-width: 0px;
    border-bottom-color: rgb(179, 179, 179);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-shadow: rgba(255, 255, 255, 0.74902) 0px 1px 1px;
}

.gradientBottomTop {
    -moz-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px inset, rgba(255, 255, 255, 0.2) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px inset, rgba(255, 255, 255, 0.2) 0px 1px 2px 0px;
    background: rgb(245, 245, 245) linear-gradient(rgb(230, 230, 230), rgb(255, 255, 255)) repeat-x;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border: 1px solid rgba(0, 0, 0, 0.0980392);
    border-top-width: 0px;
    border-bottom-color: rgb(179, 179, 179);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-shadow: rgba(255, 255, 255, 0.74902) 0px 1px 1px;
}

.dockExpanded {
    height: 100%;
    width: 100%;
}

.dockExpandedTitlePanel {
    height: 30px;
    margin-bottom: 5px;
}

.dockExpandedContentPanel {
    height: 100%;
    width: 100%;
}

.dockExpandedContentPanelSouth {
    margin-left: 30px;
}

.southDockItem {
    padding: 4px 12px !important;
}

.dockExpandedLabelWest {
    float: left;
    margin-left: 5px;
}

.dockExpandedButtonWest {
    float: right;
    margin-top: 6px;
    margin-right: 5px
}

.dockExpandedLabelEast {
    float: left;
    margin-left: 5px;
}

.dockExpandedButtonEast {
    float: left;
    margin-top: 6px;
    margin-left: 5px
}

.dockExpandedLabelSouth {
    float: left;
    margin-left: 5px;
}

.dockExpandedButtonSouth {
    float: left;
    margin-top: 5px;
}

.buttonFocused {
    padding: 5px 5px !important;
}

.resizableBar{
    background-color: #ddd;
    float: right;
}

.dockExpandedContentButton {
    float: right;
    margin-top: 6px;
    margin-right: 5px
}


