.side-panel {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
  z-index: 101;
}

.side-panel::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  cursor: pointer;
  background: transparent;
  -webkit-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}

.side-panel.side-panel--is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.side-panel.side-panel--is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}

.side-panel__container {
  width: 50%;
  height: 100%;
  position: fixed;
  background: #ffffff;
  pointer-events: auto;
  box-shadow: -10px 0 20px #404040;
  border-left: 1px solid #303030;
  z-index: 102;
  -webkit-transition: -webkit-transform 0.3s 0s;
  transition: -webkit-transform 0.3s 0s;
  transition: transform 0.3s 0s;
  -webkit-font-smoothing: antialiased;
}

.side-panel--from-right .side-panel__container {
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.side-panel--from-left .side-panel__container {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.side-panel--is-visible .side-panel__container {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-font-smoothing: antialiased;
}

.side-panel__content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
