<settings
  xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd"
>
  <mirrors>
    <mirror>
      <id>apache-public-repository-group-mirror-to-central</id>
      <mirrorOf>apache-public-repository-group</mirrorOf>
      <url>https://repo.maven.apache.org/maven2</url>
    </mirror>
    <mirror>
      <id>jboss-public-repository-group-mirror-to-central</id>
      <mirrorOf>jboss-public-repository-group</mirrorOf>
      <url>https://repo.maven.apache.org/maven2</url>
    </mirror>
    <mirror>
      <id>jboss-enterprise-maven-repository-mirror-to-central</id>
      <mirrorOf>jboss-enterprise-maven-repository</mirrorOf>
      <url>https://repo.maven.apache.org/maven2</url>
    </mirror>
  </mirrors>

  <servers>
    <server>
      <id>github</id>
      <username>kubesmarts</username>
      <password>${env.MAVEN_REPO_TOKEN}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>redhat-ga-public-repository</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>redhat-ga-public-repository</id>
          <name>RedHat GA Public Repository</name>
          <url>https://maven.repository.redhat.com/ga/</url>
          <layout>default</layout>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>redhat-ga-public-repository</id>
          <name>RedHat GA Public Repository</name>
          <url>https://maven.repository.redhat.com/ga/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>kie-tools--default-repos</id>
      <activation>
        <property>
          <name>ignore--kie-tools--default-repos</name>
          <value>!true</value>
        </property>
      </activation>
      <repositories>
        <repository>
          <id>redhat-ga-public-repository</id>
          <name>RedHat GA Public Repository</name>
          <url>https://maven.repository.redhat.com/ga/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
        </repository>
        <repository>
          <id>github</id>
          <name>GitHub Repository</name>
          <url>https://maven.pkg.github.com/kubesmarts/logic-maven-repository</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://repo.maven.apache.org/maven2</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>apache-public-repository-group</id>
          <name>Apache Public Repository Group</name>
          <url>https://repo.maven.apache.org/maven2</url>
          <layout>default</layout>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>redhat-ga-public-repository</id>
          <name>RedHat GA Public Repository</name>
          <url>https://maven.repository.redhat.com/ga/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>github</id>
          <name>GitHub Repository</name>
          <url>https://maven.pkg.github.com/kubesmarts/logic-maven-repository</url>
          <layout>default</layout>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
