/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
/**/.*
!.gitignore
/nbproject
*.ipr
*.iws
*.iml

# Repository wide ignore mac DS_Store files
.DS_Store

# Created by Zanata
/org.uberfire

# Live editing asciidoc leaves .html files behind in the source dir
uberfire-docs/src/main/asciidoc/*.html
