name: Run integration tests

on:
  pull_request:
    branches: "**"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [12.16.3]
        yarn: [1.19.1]

    steps:
      - uses: actions/checkout@v2
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Setup Yarn
        run: npm install -g yarn@${{ matrix.yarn }}

      - name: Start Xvfb (Ubuntu only)
        if: matrix.os == 'ubuntu-latest'
        run: /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &

      - name: Download dependencies
        run: yarn run init

      - name: Build repository
        run: |
          yarn run build
          yarn run build:fast

      # Starts and waits for servers and runs integrations tests
      - name: Run integration tests
        env:
          DISPLAY: ":99.0"
        run: |
          cd packages/online-editor && yarn run start &
          cd packages/chrome-extension-pack-kogito-kie-editors && yarn run serve-envelope &
          sleep 15  
          cd packages/chrome-extension-pack-kogito-kie-editors && yarn run test:it

      - name: Archive it test screenshots	
        if: always()	
        uses: actions/upload-artifact@v1	
        with:	
          name: chrome-extension-it-tests-screenshots-${{ matrix.os }}	
          path: packages/chrome-extension-pack-kogito-kie-editors/screenshots	

      - name: Archive it test logs	
        if: always()	
        uses: actions/upload-artifact@v1	
        with:	
          name: chrome-extension-it-tests-logs-${{ matrix.os }}	
          path: packages/chrome-extension-pack-kogito-kie-editors/logs	
