name: "CI :: Monorepo"

on:
  pull_request:
    branches: "**"

concurrency:
  group: monorepo-pr-ci-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  monorepo-pr-ci:
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Support longpaths"
        if: matrix.os == 'windows-latest'
        run: git config --system core.longpaths true

      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.base_ref }}

      - name: "Setup kie-tools-bot"
        uses: ./.github/actions/setup-kie-tools-bot

      - name: "Merge PR changes"
        id: merge_changes
        uses: ./.github/actions/merge-pr-changes

      - name: "Check if should run or not"
        id: check_diff_paths
        shell: bash
        run: |
          # If there are no changed files in dirs that are not `packages` or `examples`,
          # it means that all changed files are in either `packages` or `examples`, so we should run the normal CI.

          read -r -a DIFF_PATHS <<< $(git diff --name-only ${{ steps.merge_changes.outputs.base_sha }} ${{ steps.merge_changes.outputs.head_sha }} -- ':!packages' ':!examples')
          echo $DIFF_PATHS

          if [ ${#DIFF_PATHS[@]} -eq 0 ]; then
            echo '`CI` will run.'
            echo "::set-output name=should_run::true"
          else
            echo '`CI :: Full` is already running, no need to run this one.'
            echo "::set-output name=should_run::false"
          fi

          echo "Done"

      - name: "Setup environment"
        if: steps.check_diff_paths.outputs.should_run == 'true'
        uses: ./.github/actions/setup-env
        with:
          os: ${{ matrix.os }}

      - name: "Build dependencies"
        if: steps.check_diff_paths.outputs.should_run == 'true'
        shell: bash
        env:
          KIE_TOOLS_BUILD_examples: "true"
        run: |
          pnpm run build:dev --stream --since "[${{ steps.merge_changes.outputs.base_sha }}]^..."

      - name: "Build changed and dependents"
        if: steps.check_diff_paths.outputs.should_run == 'true'
        env:
          WEBPACK__minimize: "false"
          KIE_TOOLS_BUILD_lint: "true"
          KIE_TOOLS_BUILD_test: "true"
          KIE_TOOLS_BUILD_testIT: ${{ matrix.os == 'ubuntu-latest' }}
          KIE_TOOLS_BUILD_docker: "true"
          KIE_TOOLS_BUILD_examples: "true"
          DISPLAY: ":99.0"
          START_SERVER_AND_TEST_INSECURE: "true"
        run: |
          pnpm run build:prod --stream --since "...[${{ steps.merge_changes.outputs.base_sha }}]"

      - name: "Check generated resources (you should commit those!)"
        if: steps.check_diff_paths.outputs.should_run == 'true'
        shell: bash
        run: |
          git diff
          [ "0" == "$(git diff | wc -l | tr -d ' ')" ]

      - name: "Upload build artifacts"
        uses: actions/upload-artifact@v2
        if: always() && !cancelled() && steps.check_diff_paths.outputs.should_run == 'true'
        with:
          name: artifacts-${{ matrix.os }}
          if-no-files-found: warn
          path: |
            packages/*/dist
            packages/desktop/out/*.zip
            !packages/desktop/dist

      - name: "Upload IT Tests artifacts"
        uses: actions/upload-artifact@v2
        if: always() && !cancelled() && steps.check_diff_paths.outputs.should_run == 'true'
        with:
          name: it-tests-artifacts-${{ matrix.os }}
          if-no-files-found: warn
          path: |
            packages/*/dist-it-tests
