name: "CI :: Daily dev version"

on:
  schedule:
    - cron: "0 9 * * *" # 9am UTC everyday, editors snapshots should be available by then
  workflow_dispatch:

jobs:
  build:
    if: github.repository == 'kiegroup/kogito-tooling'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [16.2.0]
        yarn: [1.22.10]
        lerna: [4.0.0]

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          path: kogito-tooling

      - name: "Setup kogito-tooling"
        run: |
          cd kogito-tooling
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: "Output version"
        id: version
        shell: bash
        run: |
          cd kogito-tooling
          echo ::set-output name=version::$(node -p "require('./lerna.json').version")

      - name: "Setup Node"
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: "Setup Yarn and Lerna"
        run: |
          npm install -g lerna@${{ matrix.lerna }} yarn@${{ matrix.yarn }}
          yarn config set network-timeout 1000000

      - name: "Start Xvfb (Ubuntu only)"
        if: matrix.os == 'ubuntu-latest'
        run: |
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &

      - name: "Download dependencies"
        run: |
          cd kogito-tooling
          yarn bootstrap

      - name: "Build kogito-tooling"
        env:
          KOGITO_TOOLING_BUILD_lint: "false"
          KOGITO_TOOLING_BUILD_test: "false"
          KOGITO_TOOLING_BUILD_testIT: "false"
          WEBPACK__tsLoaderTranspileOnly: "true"
          WEBPACK__sourceMaps: "true"
          CHROME_EXTENSION__routerTargetOrigin: "https://kiegroup.github.io"
          CHROME_EXTENSION__routerRelativePath: "kogito-online/dev/editors/"
          CHROME_EXTENSION__onlineEditorUrl: "https://kiegroup.github.io/kogito-online"
          CHROME_EXTENSION__manifestFile: "manifest.prod.json"
          ONLINE_EDITOR__downloadHubUrlLinux: "https://kiegroup.github.io/kogito-online/dev/hub_download_unsupported.txt"
          ONLINE_EDITOR__downloadHubUrlMacOs: "https://kiegroup.github.io/kogito-online/dev/hub_download_unsupported.txt"
          ONLINE_EDITOR__downloadHubUrlWindows: "https://kiegroup.github.io/kogito-online/dev/hub_download_unsupported.txt"
        run: |
          cd kogito-tooling
          yarn run build:prod

      - name: "Upload VS Code Extension (Ubuntu only)"
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v1
        with:
          name: vscode-extension
          path: kogito-tooling/packages/vscode-extension-pack-kogito-kie-editors/dist/vscode_extension_kogito_kie_editors_${{ steps.version.outputs.version }}.vsix

      - name: "Upload Backend VS Code Extension (Ubuntu only)"
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v1
        with:
          name: vscode-extension-backend
          path: kogito-tooling/packages/vscode-extension-backend/dist/vscode-extension-backend_${{ steps.version.outputs.version }}.vsix

      - name: "Upload Chrome Extension (Ubuntu only)"
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v1
        with:
          name: chrome-extension
          path: kogito-tooling/packages/chrome-extension-pack-kogito-kie-editors/dist/chrome_extension_kogito_kie_editors_${{ steps.version.outputs.version }}.zip

      - name: "Upload Desktop App - Ubuntu (Ubuntu only)"
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v1
        with:
          name: desktop-app-linux
          path: kogito-tooling/packages/desktop/out/Business Modeler Preview-linux-x64.tar.gz

      - name: "Upload Desktop App - macOS (macOS only)"
        if: matrix.os == 'macos-latest'
        uses: actions/upload-artifact@v1
        with:
          name: desktop-app-macos
          path: kogito-tooling/packages/desktop/out/Business Modeler Preview-darwin-x64.zip

      - name: "Upload Desktop App - Windows (Windows only)"
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v1
        with:
          name: desktop-app-windows
          path: kogito-tooling/packages/desktop/out/Business Modeler Preview-win32-x64

      - name: "Upload Hub App - Ubuntu (Ubuntu only)"
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v1
        with:
          name: hub-app-linux
          path: kogito-tooling/packages/hub/out/Business Modeler Hub Preview-linux-x64.tar.gz

      - name: "Upload Hub App - macOS (macOS only)"
        if: matrix.os == 'macos-latest'
        uses: actions/upload-artifact@v1
        with:
          name: hub-app-macos
          path: kogito-tooling/packages/hub/out/Business Modeler Hub Preview-darwin-x64.zip

      - name: "Upload Hub App - Windows (Windows only)"
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v1
        with:
          name: hub-app-windows
          path: kogito-tooling/packages/hub/out/Business Modeler Hub Preview-win32-x64

      - name: "Checkout kogito-online (Ubuntu only)"
        if: matrix.os == 'ubuntu-latest'
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.KOGITO_TOOLING_BOT_TOKEN }}
          path: kogito-online
          repository: kiegroup/kogito-online
          ref: gh-pages

      - name: "Update kogito-online resources (Ubuntu only)"
        if: matrix.os == 'ubuntu-latest'
        run: |
          cd kogito-online
          rm -rf dev
          mkdir -p dev/editors
          cp -r ../kogito-tooling/node_modules/@kogito-tooling/dmn-editor-unpacked/target/dmn dev/editors/
          cp -r ../kogito-tooling/node_modules/@kogito-tooling/bpmn-editor-unpacked/target/bpmn dev/editors/
          cp -r ../kogito-tooling/node_modules/@kogito-tooling/scesim-editor-unpacked/target/scesim dev/editors/
          cp -r ../kogito-tooling/packages/chrome-extension-pack-kogito-kie-editors/dist/envelope dev/editors/
          cp -r ../kogito-tooling/packages/online-editor/dist/* dev/
          rm -rf dev/gwt-editors
          ln -s editors dev/gwt-editors
          echo "Hub download unsupported in this distribution. If you want it, you can access the latest \"Publish daily dev version\" job in https://github.com/kiegroup/kogito-tooling/actions and download it in the Artifacts dropdown." > dev/hub_download_unsupported.txt
          git config --global user.email "kietooling@gmail.com"
          git config --global user.name "Kogito Tooling Bot (kiegroup)"
          today=$(date -I)
          git add . && git commit -m "Kogito Tooling Daily Dev Build resources - $today" || echo "No changes."
          git push origin gh-pages
          cd -
