name: "Publish jitexecutor-native"

on:
  workflow_dispatch:
    inputs:
      kogito_runtime_version:
        description: "Kogito Runtime version"
        required: true
      version:
        description: "Version"
        required: true

jobs:
  build_jitexecutor_native_binaries:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: "Checkout kogito-apps"
        uses: actions/checkout@v3
        with:
          repository: kiegroup/kogito-apps
          ref: ${{ github.event.inputs.kogito_runtime_version }}

      - name: "Set up Maven"
        uses: stCarolas/setup-maven@417e1a9899611c0350621d1fb0c2770f35105c69
        with:
          maven-version: 3.8.6

      - name: "Set up JDK 11"
        if: runner.os != 'Windows'
        uses: actions/setup-java@v1
        with:
          java-version: "11"

      - name: "Set long paths for Windows"
        if: runner.os == 'Windows'
        run: git config --system core.longpaths true

      - name: "Build macOS"
        if: runner.os == 'macOS'
        run: |
          brew install make && \
          wget https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-21.3.0/graalvm-ce-java11-darwin-amd64-21.3.0.tar.gz && \
          tar -xzf graalvm-ce-java11-darwin-amd64-21.3.0.tar.gz && \
          sudo mv graalvm-ce-java11-21.3.0 /Library/Java/JavaVirtualMachines
          export PATH=/Library/Java/JavaVirtualMachines/graalvm-ce-java11-21.3.0/Contents/Home/bin:$PATH && \
          export GRAALVM_HOME=/Library/Java/JavaVirtualMachines/graalvm-ce-java11-21.3.0/Contents/Home && \
          gu install native-image && \
          mvn clean package -B -ntp -DskipTests -f ./jitexecutor && mvn clean package -B -ntp -DskipTests -Pnative -am -f ./jitexecutor

      - name: "Build Linux"
        if: runner.os == 'Linux'
        run: |
          sudo apt update && \
          sudo apt install -y \
          build-essential \
          libgtk-3-dev \
          libappindicator3-dev \
          gir1.2-appindicator3-0.1 && \
          mvn clean package -B -ntp -DskipTests -f ./jitexecutor && mvn clean package -B -ntp -DskipTests -Pnative -am -f ./jitexecutor

      - name: "Configure Pagefile"
        if: runner.os == 'Windows'
        uses: al-cheb/configure-pagefile-action@7e234852c937eea04d6ee627c599fb24a5bfffee
        with:
          minimum-size: 16GB
          maximum-size: 16GB
          disk-root: "C:"

      - name: "Setup MSCV"
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@376515093de803c897e7e6d576553c3104267e17

      - name: "Setup MSBUILD"
        if: runner.os == 'Windows'
        uses: microsoft/setup-msbuild@v1

      - name: "Setup GraalVM"
        if: runner.os == 'Windows'
        uses: ayltai/setup-graalvm@3789c9412212eb6d435725e49d28e179a46b1aaa
        with:
          java-version: 11
          graalvm-version: 21.3.0
          native-image: true

      - name: "Build Windows"
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          mvn clean package -B -ntp -DskipTests -f ./jitexecutor && mvn clean package -B -ntp -DskipTests -Pnative -am -f ./jitexecutor

      - name: "Upload JIT Executor binary"
        uses: actions/upload-artifact@v2
        with:
          name: jitexecutor_${{ runner.os }}
          path: ./jitexecutor/jitexecutor-runner/target/jitexecutor-runner-${{ github.event.inputs.kogito_runtime_version }}-run*

  pack_and_publish:
    runs-on: ubuntu-latest
    needs: [build_jitexecutor_native_binaries]
    steps:
      - name: "Checkout kie-tools"
        uses: actions/checkout@v3

      - name: "Download Windows binary"
        uses: actions/download-artifact@v2
        with:
          name: jitexecutor_Windows
          path: ./.github/supporting-files/publish_jitexecutor_native/dist/win32

      - name: "Download macOS binary"
        uses: actions/download-artifact@v2
        with:
          name: jitexecutor_macOS
          path: ./.github/supporting-files/publish_jitexecutor_native/dist/darwin

      - name: "Download Linux binary"
        uses: actions/download-artifact@v2
        with:
          name: jitexecutor_Linux
          path: ./.github/supporting-files/publish_jitexecutor_native/dist/linux

      - name: "Pack and publish"
        working-directory: ./.github/supporting-files/publish_jitexecutor_native
        env:
          NPM_TOKEN: ${{ secrets.KIEGROUP_NPM_TOKEN }}
        run: |
          mv ./dist/linux/jitexecutor-runner-${{ github.event.inputs.kogito_runtime_version }}-runner ./dist/linux/jitexecutor
          mv ./dist/darwin/jitexecutor-runner-${{ github.event.inputs.kogito_runtime_version }}-runner ./dist/darwin/jitexecutor
          mv ./dist/win32/jitexecutor-runner-${{ github.event.inputs.kogito_runtime_version }}-runner.exe ./dist/win32/jitexecutor.exe
          npm version ${{ github.event.inputs.version }}
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
          npm publish --access public
