name: "SonarCloud Analysis: kogito-editors-java"
on:
  push:
    branches:
      - main
    paths:
      - "packages/stunner-editors/**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven to measure code coverage
        run: mvn -B --fail-at-end clean install -Prun-code-coverage
      - name: Analyze with sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONARCLOUD_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -nsu generate-resources -Psonarcloud-analysis -Denforcer.skip=true # sonarcloud-analysis  is defined in kie-parent pom
