name: "Staging :: Build (Extended Services)"

on:
  workflow_call:
    inputs:
      dry_run:
        type: boolean
        required: true
      base_ref:
        type: string
        required: true
      tag:
        type: string
        required: false
        default: "0.0.0"
      upload_asset_url:
        type: string
        required: false
        default: ""
    secrets:
      gh_token:
        required: false

env:
  TMPDIR: "${{ github.workspace }}/kie-tools/tmp"

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-13, windows-latest]
    steps:
      - name: "Support longpaths (Windows only)"
        if: runner.os == 'Windows'
        run: git config --system core.longpaths true

      - name: "Checkout @ GitHub default"
        uses: actions/checkout@v3
        with:
          path: kie-tools

      - name: "Checkout @ Simulated squashed-merge if PR"
        uses: ./kie-tools/.github/actions/checkout-pr
        with:
          ref: ${{ inputs.base_ref }}
          path: kie-tools

      - name: "Setup environment"
        uses: ./kie-tools/.github/actions/setup-env
        with:
          working_dir: kie-tools

      - name: "Bootstrap"
        id: bootstrap
        uses: ./kie-tools/.github/actions/bootstrap
        with:
          working_dir: kie-tools
          pnpm_filter_string: -F @kie-tools/extended-services...

      - name: "Build Extended Services"
        working-directory: ${{ github.workspace }}/kie-tools
        env:
          EXTENDED_SERVICES__kieSandboxUrl: "https://apache.github.io/incubator-kie-kogito-online-staging/${{ inputs.tag }}-prerelease"
        run: >-
          pnpm ${{ steps.bootstrap.outputs.pnpm_filter_string }} build:prod

      - name: "STAGING: Upload Extended Services for macOS (macOS only)"
        if: ${{ runner.os == 'macOS' && !inputs.dry_run }}
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.gh_token }}
        with:
          upload_url: ${{ inputs.upload_asset_url }}
          asset_path: ${{ github.workspace }}/kie-tools/packages/extended-services/dist/darwin/Kogito.dmg
          asset_name: STAGING__kie_sandbox_extended_services_macos_${{ inputs.tag }}.dmg
          asset_content_type: application/octet-stream

      - name: "STAGING: Upload Extended Services for Windows (Windows only)"
        if: ${{ runner.os == 'Windows' && !inputs.dry_run }}
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.gh_token }}
        with:
          upload_url: ${{ inputs.upload_asset_url }}
          asset_path: "${{ github.workspace }}/kie-tools/packages/extended-services/dist/win32/kie_sandbox_extended_services.exe"
          asset_name: "STAGING__kie_sandbox_extended_services_windows_${{ inputs.tag }}.exe"
          asset_content_type: application/octet-stream
