.kie-dmn-editor--constraint-time button::after {
  outline: none;
  border-color: transparent;
  background-color: transparent;
}

.kie-dmn-editor--constraint-time > div > div > button {
  outline: none;
  border-color: transparent;
  background-color: transparent !important;
}

.kie-dmn-editor--constraint-time > div > div {
  outline: none;
  border-color: transparent;
  background-color: transparent;
}
