.mining-schema-list {
  &__item__label {
    margin-right: var(--pf-v5-global--spacer--sm);
    margin-bottom: var(--pf-v5-global--spacer--xs);
    margin-top: var(--pf-v5-global--spacer--xs);
    &:last-of-type {
      margin-right: 0;
    }
  }
}
