.appformer-live-search-selector-dditem {
    cursor: pointer;
}

.appformer-live-search-selector-dditem-icon-hidden {
    display:none;
}

.appformer-live-search-selector-dditem-icon-visible {
    margin-left: 5px;
    cursor: pointer;
    float: right;
    display:block !important;
}
